﻿@model Trac.Domain.ViewModels.CPRDetailViewModel

    <div class="x_content">
        <div class="row cprHeader">
            <div class="col-md-4 col-sm-4 col-xs-4">
                <div class="form-group">
                    <h1 style="font-size: 14px">
                        File Upload:</h1>
                </div>
            </div>
         
            <div id="divUploadContainer" class="col-sm-12 col-md-12 col-lg-12 text-left">
                <div class="form-group">
                    @Html.TextBox("txtcprFileName", null, new { @class = "form-control", @placeholder = "FileName", @type = "file", @enctype = "multipart/form-data", @name = "txtcprFileName", @readonly = "readonly", @style = "width:400px" })
                    @Html.Hidden("TempFileName", new { value = "" }, new { @class = "TempFileName" })
                    @*<br />*@
                    @* <button type="button" class="btn btn--xs100 primary__button" id="btnUpload" style="position: relative;
                            left: 410px; top: -51px;">
                            Browse
                        </button>*@
                    @*<button style="display: none" type="submit" class="btn btn--xs100 primary__button "
                        id="btnUploadExcel" style="position: relative; left: 425px; top: -51px;">
                        Upload
                    </button>
                    <br />*@
                </div>
            </div>
            <div class="col-md-4 col-sm-4 col-xs-4">
                <div class="form-group">
                    <label for="" class="control-label">
                    Document Type</label>
                    @Html.DropDownListFor(x => x.cprDocumentTypeId, (SelectList)ViewBag.cprDocumentType, "", new { @class = "form-control", @style = "width:400px" })
                    @Html.ValidationMessageFor(model => model.cprDocumentTypeId, "", new { @class = "required" })
                </div>
            </div>
            <div class="col-md-4 col-sm-4 col-xs-4">
                <label for="" class="control-label">
                    Description</label>
                @Html.TextBoxFor(x => x.cprDescription, new { @class = "form-control", @placeholder = "", @style = "width:400px" })
                @Html.ValidationMessageFor(model => model.cprDocumentTypeId, "", new { @class = "required" })
            </div>
        </div>
    </div>


<div class="x_content">
    <div class="row">
        <div class="form-group">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <table style="display: none" id="records__table" class="table  table-bordered cprData"
                    style="width: 100%" border="1">
                    <thead>
                        <tr>
                            <th scope="col">
                                Reference ID
                            </th>
                            <th scope="col">
                                Document Type
                            </th>
                            <th scope="col">
                                Description
                            </th>
                            <th scope="col">
                                Date Uploaded
                            </th>
                            <th scope="col">
                                Uploaded By
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var cprdocument in ViewBag.cprdocument)
                        {
                            <tr>
                                <td width="10%">
                                    <a href="javascript:void(0)" id='@cprdocument.CPRDocumentID' class="viewCPR" onclick="ViewCPR1('@Model.CPRDetailId', '@cprdocument.ReferenceID')">@cprdocument.ReferenceID</a>
                                </td>
                                <td width="10%">@cprdocument.DocumentTypeID
                                </td>
                                <td width="150px">@cprdocument.Description
                                </td>
                                <td width="10%">@cprdocument.DateUploaded.ToShortDateString()
                                </td>
                                <td width="10%">@cprdocument.UploadedBy
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
