﻿@*@using Trac.Core.Enums*@
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Load | @ViewBag.Title</title>
    <!-- Bootstrap -->
    <link rel="stylesheet" href="@Url.Content("~/Content/css/bootstrap.min.css")" />

    <!-- Font Awesome -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css" integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ" crossorigin="anonymous">

    <!-- NProgress -->
    <link rel="stylesheet" href="@Url.Content("~/Content/css/nprogress.css")" />

    <!-- bootstrap-datetimepicker -->
    <link rel="stylesheet" href="@Url.Content("~/Content/css/bootstrap-datetimepicker.min.css")" />

    <!-- Gentelella Theme CSS -->
    <link rel="stylesheet" href="@Url.Content("~/Content/css/gentelella.min.css")" />

    <!--  Data Table  -->
    <!-- Main CSS -->
    <link rel="stylesheet" href="@Url.Content("~/Content/css/main.min.css")" />

    <!-- Favicons -->
    @*<link rel="apple-touch-icon" sizes="180x180" href="@Url.Content("~/Content/favicons/apple-touch-icon.png")">
    <link rel="icon" type="image/png" sizes="32x32" href="@Url.Content("~/Content/favicons/favicon-32x32.png")">
    <link rel="icon" type="image/png" sizes="16x16" href="@Url.Content("~/Content/favicons/favicon-16x16.png")">
    @*<link rel="manifest" href="@Url.Content("~/Content/favicons/site.webmanifest")">*@
    @*<link rel="mask-icon" href="@Url.Content("~/Content/favicons/safari-pinned-tab.svg")" color="#5bbad5">
    <link rel="icon" href="@Url.Content("~/Content/favicons/favicon.ico")">*@
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="theme-color" content="#ffffff">

    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
        <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->

    @RenderSection("styles", required: false)
</head>
<body class="gentelella-or nav-md">
    @*<div class="pageloader">
            <div class="pageloader__cell">
                <div class="pageloader__content">
                    <img class="pageloader__logo" src="assets/img/logo1.png" alt="">
                    <img src="assets/img/spinner.gif" alt="">
                </div>
            </div>
        </div>*@
    <div class="container body">
        <div class="main_container">
            <div class="col-md-3 left_col">
                <div class="left_col scroll-view">
                    <div class="navbar nav_title" style="border: 0;">
                        <a href="@Url.Action("Index", "Home")" class="site_title"><img src="~/Content/images/pldt_logo.png" height="40px" position="center"/></a>
                    </div>
                    <div class="clearfix"></div>
                    <br />
                    <!-- sidebar menu -->
                    <div id="sidebar-menu" class="main_menu_side hidden-print main_menu">
                        <div class="menu_section">
                            @*@{ Html.RenderAction("Menu", "Account"); }*@
                        </div>
                    </div>
                    <!-- /sidebar menu -->
                    <!-- /menu footer buttons -->
                    <div class="sidebar-footer hidden-small">
                        @*<p class="footer__copyright">2018. All Rights reserved.<br>© ORA-eTRAC UNILAB, INC.</p>*@
                    </div>
                    <!-- /menu footer buttons -->
                </div>
            </div>

            <!-- top navigation -->
            <div class="top_nav">
                <div class="nav_menu nav_menu--home">
                    <nav>
                        <div class="nav toggle">
                            <a id="menu_toggle"><i id="menu_toggle-icon" class="fas fa-angle-double-right"></i></a>
                        </div>
                        <div class="module__name">
                            <a href="#">@ViewBag.Module</a>
                        </div>

                        <ul class="nav navbar-nav pull-right user-details">
                            <li class="user-details__name"><span style="font-size: 22px; padding-right: 5px;"><i class="fas fa-user"></i>@*@{ Html.RenderAction("CurrentUser", "Home");  }*@</span></li>
                            <li data-toggle="tooltip" data-placement="bottom" data-original-title="Logout" id="logouttooltip" class="user-details__logout">
                                @using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "logouticon" }))
                                {
                                    @Html.AntiForgeryToken()
                                    <a href="javascript:document.getElementById('logoutForm').submit()"><i class="fas fa-power-off"></i></a>
                                }
                            </li>


                        </ul>
                    </nav>
                </div>
            </div>
            <!-- /top navigation -->
            <!-- page content -->
            <div class="right_col" role="main">
                <div class="row">
                    <div class="col-md-12 col-sm-12 col-xs-12">
                        <body class="gentelella-or nav-md">
                            <div class="container body">
                                <div class="main_container">
                                    @RenderBody()
                                </div>
                            </div>
                        </body>
                    </div>
                </div>
                <br />
            </div>
            <!-- /page content -->
            <!-- footer content -->
            <footer>
                <div class="pull-right">
                    Footer Text
                </div>
                <div class="clearfix"></div>
            </footer>
            <!-- /footer content -->
        </div>
    </div>


    <div class="pageloader">
        <div class="pageloader__cell">
            <div class="pageloader__content">
                @*<img class="pageloader__logo" src="~/Content/images/logo1.png" alt="">*@
                <img src="~/Content/images/etrac-loader.gif" alt="">
            </div>
        </div>
    </div>

    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">

                <div class="modal fade" id="modalSession" role="dialog" data-keyboard="false" data-backdrop="static" aria-labelledby="myModalLabel" aria-hidden="true">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h2 class="modal-title" id="myModalLabel">
                                    Session Expired!
                                </h2>
                            </div>
                            <div class="modal-body">
                                <p>Your session has expired due to inactivity. Please login again.</p>
                            </div>
                            <div class="modal-footer">
                                <a href="#" id="btnOk" class="btn btn-primary" data-toggle="modal" data-target="#modalSession">OK</a>
                            </div>
                        </div>

                    </div>

                </div>

            </div>
        </div>
    </div>







    <!--[if IE 9]>
    <script
    src="https://code.jquery.com/jquery-2.2.4.min.js"
    integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44="
    crossorigin="anonymous"></script>
    <![endif]-->
    <!-- jQuery -->
    <script src="@Url.Content("~/scripts/js/jquery.min.js")" type="text/javascript"></script>
    <!-- Boostrap -->
    <script src="@Url.Content("~/scripts/bootstrap/bootstrap.min.js")" type="text/javascript"></script>
    <!-- FastClick -->
    <script src="@Url.Content("~/scripts/js/fastclick.js")" type="text/javascript"></script>
    <!-- NProgress -->
    @*<script src="@Url.Content("~/scripts/js/nprogress.js")" type="text/javascript"></script>*@
    <!-- bootstrap-datetimepicker -->
    <script src="@Url.Content("~/scripts/js/moment.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/scripts/bootstrap.min.js")" type="text/javascript"></script>
    <!-- Gentelella Theme Scripts -->
    <script src="@Url.Content("~/scripts/js/gentelella.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/scripts/js/main.js")" type="text/javascript"></script>

    <script src="@Url.Content("~/scripts/Trac_SessionTimeOut.js")" type="text/javascript"></script>

    <!-- Main Scripts -->
    @*<script src="@Url.Content("~/scripts/js/main.js")" type="text/javascript"></script>*@
    @*<script src="~/scripts/js/jquery.min.js"></script>*@
    <script src="../../scripts/jquery.blockUI.js" type="text/javascript"></script>
    <script src="../../scripts/bootbox.min.js" type="text/javascript"></script>
    <script src="../../scripts/trac.function.js" type="text/javascript"></script>
    @RenderSection("scripts", required: false)
</body>
<script>

      function sbIconToggle() {
          var dbg = "body .container.body .right_col--home",
       // logoIcon = document.getElementById('logoIcon'),
        navsmMenu = '.nav.side-menu li a';
          //Fix for text ellipsis IE issue
          $(navsmMenu).delay(100).queue(function () {
              $(this).addClass("w100").dequeue();
          }); ;

          var windowWidth = $(window).width();
          if (windowWidth <= 599) {
              $("#menu_toggle").on("click", function () {
                  if ($("body").hasClass("nav-sm")) {
                      $("#menu_toggle-icon").removeClass("fa-angle-double-right").addClass("fa-angle-double-left");
                      $(dbg).removeClass('right_col--md');
                      $(navsmMenu).addClass('w100');
                  } else {
                      $("#menu_toggle-icon").removeClass("fa-angle-double-left").addClass("fa-angle-double-right");
                      $(dbg).addClass('right_col--md');
                      $(navsmMenu).removeClass('w100');
                  }
              });
          } else {
              $("#menu_toggle").on("click", function () {
                  if ($("body").hasClass("nav-sm")) {
                      $("#menu_toggle-icon").removeClass("fa-angle-double-left").addClass("fa-angle-double-right");
                      $(dbg).removeClass('right_col--md');
                   //   logoIcon.src = 'assets/img/logo1-icon.png';
                      $(navsmMenu).addClass('w100');
                  } else {
                      $("#menu_toggle-icon").removeClass("fa-angle-double-right").addClass("fa-angle-double-left");
                      $(dbg).addClass('right_col--md');
                    //  logoIcon.src = 'assets/img/logo1-icon-blank.png';
                      $(navsmMenu).removeClass('w100');
                  }
              });
          }

      }



</script>

<style type="text/css">

    #btnSearch {
        background-color: #448bd8;
        color: White;
    }

    /* ---------------------------END----------------------------------------------- */

    #customheadercolor {
        background-color: #ADD8E6;
    }

    .btn-default {
        width: 100px !important;
        height: 34px !important;
    }

    .primary__button {
        width: 100px !important;
        height: 34px !important;
    }

    .blockUI.blockMsg.blockElement {
        background-color: transparent !important;
    }

    /* ---------------------------END----------------------------------------------- */
    .nav_menu {
        padding: 9px 10px;
    }

    .toggle {
        margin-top: 9px;
    }

    .module__name {
        padding: 9px 0px;
    }

    .graph, .tile {
        zoom: 100%;
    }

    .error {
        color: Red;
        font-weight: 100;
    }

    .user-details__logout {
        font-size: 8px;
    }
</style>
</html>
