﻿
@*@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>*@

<form id="filterForm">
    <div class="row" id="divList">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <!-- panel -->
                <div class="x_panel tile">
                    <div class="x_title">
                        <h2 class="panel__title">Upload</h2>
                        <div class="clearfix"></div>
                    </div>
                    <div class="x_content">
                        <div class="row">
                            <div class="col-sm-12 col-md-12 col-xs-12">
                                <div class="form-inline search-group">
                                    <div class="form-group">
                                        <h3>Add Technicians:</h3>
                                    </div>
                                    <br />
                                    <br />
                                    <div class="form-group">
                                        <span>Select File :</span>
                                        @Html.TextBox("FileName", null, new { id = "txtFilename", @class = "form-control", @placeholder = "FileName", @readonly = "readonly", @style = "width:400px" })
                                        @Html.Hidden("TempFileName", new { value = "" }, new { @class = "TempFileName" })
                                        <button type="button" class="btn btn--xs100 primary__button" id="btnUpload">
                                            Browse
                                        </button>
                                        <div class="form-group" id="divUploadContainer" >@*class="col-sm-12 col-md-12 col-lg-12 text-left"*@
                                            <button type="submit" class="btn btn--xs100 primary__button " id="btnUploadExcelTechnician" style="position:relative;left:80px;">
                                                Upload
                                            </button>
                                            <button type="submit" class="btn btn--xs100 primary__button " id="btnDownloadExcelTechnician" style="position:relative;left:80px;">
                                                Download
                                            </button>
                                        </div>
                                    </div>
                                </div><!-- /.form -->
                            </div><!-- /.col -->
                        </div> <!-- /.row -->
                    </div><!-- /content -->

                    </br>

                    @*<div class="x_content">
                        <div class="row">
                            <div class="col-sm-12 col-md-12 col-xs-12">
                                <div class="form-inline search-group">
                                    <div class="form-group">
                                        <h3>Add Dispatchers:</h3>
                                    </div>
                                    <br />
                                    <br />
                                    <div class="form-group">
                                        <span>Select File :</span>
                                        @Html.TextBox("FileName", null, new { id = "txtFilename", @class = "form-control", @placeholder = "FileName", @readonly = "readonly", @style = "width:400px" })
                                        @Html.Hidden("TempFileName", new { value = "" }, new { @class = "TempFileName" })
                                        <button type="button" class="btn btn--xs100 primary__button" id="btnUpload">
                                            Browse
                                        </button>
                                        <div id="divUploadContainer" class="row">
                                            <button type="submit" class="btn btn--xs100 primary__button " id="btnUploadExcel" style="position:relative;left:80px;">
                                                Upload
                                            </button>
                                            <button type="submit" class="btn btn--xs100 primary__button " id="" style="position:relative;left:80px;">
                                                Download
                                            </button>
                                        </div>
                                </div>
                            </div><!-- /.form -->
                        </div><!-- /.col -->
                    </div> <!-- /.row -->
                </div><!-- /content -->*@

                    </br>

                    @*<div class="x_content">
                        <div class="row">
                            <div class="col-sm-12 col-md-12 col-xs-12">
                                <div class="form-inline search-group">
                                    <div class="form-group">
                                        <h3>Add Buckets:</h3>
                                    </div>
                                    <br />
                                    <br />
                                    <div class="form-group">
                                        <span>Select File :</span>
                                        @Html.TextBox("FileName", null, new { id = "txtFilename", @class = "form-control", @placeholder = "FileName", @readonly = "readonly", @style = "width:400px" })
                                        @Html.Hidden("TempFileName", new { value = "" }, new { @class = "TempFileName" })
                                        <button type="button" class="btn btn--xs100 primary__button" id="btnUpload">
                                            Browse
                                        </button>
                                        <div class="form-group" id="divUploadContainer">
                                            <button type="submit" class="btn btn--xs100 primary__button " id="btnUploadExcel" style="position:relative;left:80px;">
                                                Upload
                                            </button>
                                            <button type="submit" class="btn btn--xs100 primary__button " id="" style="position:relative;left:80px;">
                                                Download
                                            </button>
                                    </div>
                                </div>
                            </div><!-- /.form -->
                        </div><!-- /.col -->
                    </div> <!-- /.row -->
                </div>*@<!-- /content -->
            </div>
        </div>
    </div>
</form>
<div class="modal fade" id="ReadingNotificationModal" tabindex="-1" role="dialog"
     aria-labelledby="basicModal" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h3>Reading File</h3>
            </div>
            <div class="modal-body">
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="MessageNotificationModal" tabindex="-1" role="dialog"
     aria-labelledby="basicModal" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h3 id="MessageNotificationHeader"></h3>
            </div>
            <div id="MessageNotificationBody" class="modal-body">
            </div>
            <div class="modal-footer">
                <button id="btnMessageNotificationClose" type="button" class="btn btn-default" data-dismiss="modal">
                    Close
                </button>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="uploadModal" tabindex="-1" data-backdrop="static" data-keyboard="false"
     role="dialog" aria-hidden="true">
    <div class="modal-dialog" style="width: 800px">
        <div class="modal-content">
            <div class="modal-body">
                <h1 class="subpage-headline">
                    <span>Upload </span>
                </h1>
                <form class="form-horizontal" role="form" id="uploadForm">
                    <div id="divUploadExcel">
                        <div class="form-group">
                            <table>
                                <tr>
                                    <td class="col-lg-4">
                                        <label class="control-label">
                                            File Name
                                        </label>
                                    </td>
                                    <td class="col-lg-12">
                                        <div class="col-lg-12" id="uploadFileName" name="uploadFileName" />
                                    </td>
                                </tr>
                            </table>
                        </div>
                        <div class="form-group">
                            <div class="pull-right" style="padding-right: 20px;">
                                <button type="button" class="btn btn-custom-spin" id="uploadSave" data-dismiss="modal">
                                    Save
                                </button>
                                <button type="button" data-dismiss="modal" class="btn btn-custom-spin" id="uploadCancel">
                                    Cancel
                                </button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
@section scripts{
        <script src="@Url.Content("~/scripts/plupload/plupload.full.min.js")" type="text/javascript"></script>
        <script src="@Url.Content("~/scripts/trac.function.js")" type="text/javascript"></script>
        <script type="text/jscript">
            var controllerPath = '@Url.Content("~/Load")';
            var _controllerPath = '@Url.Content("~/CPRUpload")';
            var _rootPath = '@Url.Content("~")';
            var dlResult = _controllerPath + '/DownloadResult';
            var ExcelconvertPath = controllerPath + '/Interop';
            var Dlexcel = controllerPath + '/ExportView';

            var _currentUploadPercent = 0;
            $(document).ready(function () {

                InitializeUploader('divUploadContainer', 'btnUpload');
            });

            function InitializeUploader(containerId, buttonId) {
                var root = (_rootPath === "/") ? "" : _rootPath;
                var uploader = new plupload.Uploader({
                    runtimes: 'html5,flash,silverlight',
                    browse_button: buttonId,
                    container: containerId,
                    chunk_size: '2mb',
                    multi_selection: false,
                    unique_names: true,
                    url: root + '/Upload/Upload',
                    flash_swf_url: root + '/Scripts/plupload/Moxie.swf',
                    silverlight_xap_url: root + '/Scripts/plupload/Moxie.xap',
                    filters: [{ title: "All files", extensions: "*" }]
                });

                $('#uploadSave').click(function (e) {
                    ShowUploadProgress(0);
                    uploader.start();
                    e.preventDefault();
                });

                $('#uploadCancel').click(function (e) {
                    uploader.stop();

                    // Remove files from queue
                    if (uploader.files != null && uploader.files != undefined) {
                        var lastFileInQueue = uploader.files[uploader.files.length - 1];

                        if (lastFileInQueue != null && lastFileInQueue != undefined)
                            uploader.removeFile(lastFileInQueue);
                    }

                    uploader.refresh();
                    e.preventDefault();
                });

                $('#btnUploadExcel').click(function (e) {
                    CheckFileParameter($('#txtFilename').val(), $('.TempFileName').val() + '.' + $('#txtFilename').val().split('.').pop(), "divUploadExcel");
                });

                $("#btnBackToList").click(function (e) {
                    location.href = _controllerPath + '/Index';
                });

                uploader.init();
                uploader.refresh();

                uploader.bind('FilesAdded', function (uploader, files) {
                    //clear list
                    $('#uploadFileName').html('');

                    $.each(files, function (i, file) {
                        $('#uploadFileName').append(
                            '<div id="' + file.id + '" class="col-lg-9"><p class="form-control-static">' +
                            file.name + ' (' + plupload.formatSize(file.size) + ')' + '</p></div>');
                        $('#txtFilename').val(file.name);
                        $('.TempFileName').val(file.id);

                    });

                    $('#uploadModal').modal("show");
                    $('#uploadSave').show();
                    uploader.refresh(); // Reposition Flash/Silverlight
                });

                uploader.bind('UploadProgress', function (up, file) {
                    if (file.percent < 100 && file.percent > _currentUploadPercent) {
                        _currentUploadPercent = file.percent;
                        ShowUploadProgress(_currentUploadPercent);
                    }
                });

                uploader.bind('Error', function (up, err) {
                    $('#filelist').append("<div>Error: " + err.code +
                        ", Message: " + err.message +
                        (err.file ? ", File: " + err.file.name : "") +
                        "</div>"
                    );

                    up.refresh(); // Reposition Flash/Silverlight
                });

                uploader.bind('FileUploaded', function (up, file, info) {
                    var returnData;
                    try {
                        returnData = jQuery.parseJSON(info.response);

                        if (!returnData.ok) {
                            file.status = plupload.FAILED;
                            uploader.trigger('Error', {
                                code: "Upload Failed",
                                message: returnData.message,
                                file: file
                            });

                            NotifyMessage("Fail", returnData.message);
                            alert("+");
                            up.trigger('QueueChanged');
                            return;
                        }

                    } catch (e) {
                        file.status = plupload.FAILED;
                        uploader.trigger('Error', {
                            code: "HTTP error",
                            message: "Unable to upload the file.",
                            file: file
                        });

                        NotifyMessage("Fail", returnData.message);

                        up.trigger('QueueChanged');
                        return;
                    }

                    ShowUploadProgress("100");

                    setTimeout(function () {
                        $('#uploadModal').modal('hide');
                        HideUploadProgress();
                    }, 1000);

                    //SaveUpload(file.name, file.id + '.' + file.name.split('.').pop());
                });
            }

            function SaveFileUpload(filename, fileLocation, divId) {

                var ReportTypeImportId = $('#ReportTypeImportId').val();
                var Year = $('#Year').val();
                var Month = $('#Month').val();

                var paramData = jQuery.parseJSON('{ "tempFilename":"' + fileLocation + '", "fileName":"' + filename + '" }');
                var urlPath = _controllerPath + '/SaveFileUpload';
                //block(divId);
                //ShowUploadProgress(0);
                $("#ReadingNotificationModal").modal("show");

                $.ajax({
                    type: "GET",
                    url: urlPath,
                    data: paramData,
                    success: function (returndata) {
                        if (returndata.ok) {
                            bootbox.alert(returndata.message);
                            $('#txtFilename').val("");
                            //unblock(divId);
                            //HideUploadProgress();
                            $("#ReadingNotificationModal").modal("hide");
                        }
                        else {
                            bootbox.alert(returndata.message);
                            if (returndata.returnFileName != null) {
                                if (returndata.returnFileName.length > 0) {
                                    window.location = dlResult + '?file=' + returndata.returnFileName;
                                    //HideUploadProgress();
                                    $("#ReadingNotificationModal").modal("hide");
                                }
                                else {
                                    //HideUploadProgress();
                                    $("#ReadingNotificationModal").modal("hide");
                                }
                            }
                            else {
                                //unblock(divId);
                                //HideUploadProgress();
                                $("#ReadingNotificationModal").modal("hide");
                            }
                        }
                    },
                    error: function (request, textStatus, errorThrown) {
                        bootbox.alert("AJAX error: " + request.statusText);
                        //unblock(divId);
                        //HideUploadProgress();
                        $("#ReadingNotificationModal").modal("hide");
                    }
                });

            }

            function CheckFileParameter(filename, fileLocation, divId) {
                var paramData = jQuery.parseJSON('{ "tempFilename":"' + fileLocation + '" }');
                var urlPath = _controllerPath + '/CheckFileParameter';

                $.ajax({
                    type: "GET",
                    url: urlPath,
                    data: paramData,
                    success: function (returndata) {
                        if (returndata.ok) {
                            SaveFileUpload(filename, fileLocation, divId);
                        }
                        else {
                            bootbox.alert(returndata.message);
                        }
                    },
                    error: function (request, textStatus, errorThrown) {
                        bootbox.alert("AJAX error: " + request.statusText);
                    }
                });

            }

            function NotifyMessage(messageHeader, messageBody) {
                $("#MessageNotificationModal #MessageNotificationHeader").text(messageHeader);
                $("#MessageNotificationModal #MessageNotificationBody").text(messageBody);

                $("#MessageNotificationModal").modal("show");
            }

            function ShowUploadProgress(uploadPercent) {
                $("div#MessageNotificationModal div#MessageNotificationBody").hide();
                $("div#MessageNotificationModal div.modal-footer").hide();

                NotifyMessage("Uploading... " + uploadPercent + "%", '');

            }

            function HideUploadProgress() {
                $("#MessageNotificationModal").modal("hide");

                setTimeout(function () {
                    $("div#MessageNotificationModal div#MessageNotificationBody").show();
                    $("div#MessageNotificationModal div.modal-footer").show();
                }, 2000);
            }

            //$("#btnDownload").click(function (event) {
            //    event.preventDefault(); // cancel default behaviorted").text());

            //    var ReportTypeImportId = $('#ReportTypeImportId').val();
            //    window.location = _controllerPath + '/Download?ReportId=0&ReportTypeId=' + ReportTypeImportId;

            //});

            $("#btnDownloadExcelTechnician").click(function (event) {
                block("divList");
                event.preventDefault(); // cancel default behavior
                alert(Dlexcel);
                var form = $("#filterForm");
                var formData = form.serialize();
                var root = (_rootPath === "/") ? "" : _rootPath;

                $.ajax({
                    type: "POST",
                    url: Dlexcel,
                    data: formData,
                    dataType: 'json',
                    success: function (returndata) {

                        //                        if (window.location = Dlexcel + '?file=' + returndata.data) {
                        //                            alert("Please wait, your downloaded file will start in a few secs.");
                        //                            unblock("divList");
                        //                        }

                        window.setTimeout(function () {
                            window.location = Dlexcel + '?file=' + returndata.data;
                            alert("Please wait, your downloaded file will start in a few secs.");
                            unblock("divList");
                        }, 5000);

                    },
                    error: function (returnval) {
                        unblock("divList");
                        alert("Failed to download Template!");
                    }
                });


            });

        </script>
    }
