@import url(https://fonts.googleapis.com/css?family=Roboto:400,500,700,900);

@media only screen and (max-width: 40em) { 
	.nav-indent{
		padding: 0px !important;
	}
	header .row{
		padding-right: 0px !important;
	}

	.login .row{
		padding-left:0px !important;
	}

	header .search-top{
		padding-top: 0px !important;
	}
}
body, strong, p{
	font-family: 'Roboto', sans-serif !important;
	font-size:12px !important;
}

h5{
	font-family: Arial !important;
	font-weight: 700;
	text-decoration: none; 
	color: #4E1168;
}

h4{
	font-family: 'Roboto', sans-serif !important;
	font-weight: 700;
	font-size: 15px;
}

.row li{
	list-style-type: square;
	margin-bottom: 10px;
}

header{
	height: 200px;
	width: 100%;
	/*padding-top:16px;
	padding-left:37px;
	padding-right: 32px;*/
}

header input{
	height: 37px !important;
}

button, .button {
	padding:5px 15px !important;
	font-family: 'Roboto', sans-serif !important;
	color: #000;
	font-weight: 700;
	font-size: 12px;
	display: block;
    margin: 0.25em auto;
}

header .row{
	padding: 15px 15px 0px 15px;
}

header .search-top{
	padding-top: 27px;
}

.search-top .row{
	padding-top: 10px !important;
	padding-bottom: 0px !important;
	padding-left: 0px !important;
	padding-right: 0px !important;
}

select{
	font-family: Arial !important;
	font-size:11px !important;
	background-color:#7E1D96 !important;
	color:White !important;
	border-radius:3px !important;
}

select option {
    background-color:#7E1D96 !important;
}

select:focus {
    background-color:#7E1D96 !important;
}


input{
	font-family: 'Roboto', sans-serif !important;
	font-size:11px !important;
}

label{
	font-family: Arial !important;
	font-size:12px !important;
	color: #4E1168;
	font-weight:bold;
}

.nav-indent{
	padding-left:16px;
	padding-right: 15px;
}

.nav-indent .top-bar {
	
}

.nav-indent .top-bar-section li a{
	
}

.nav-indent .top-bar-section li a:hover{
	
}

.nav-indent label:hover , .nav-indent .top-bar-section li ul li ul li a:hover{
	background-color: Gray !important;
}

.nav-indent label{
	color: #fff !important;
}


.nav-indent .name{
}

.nav-indent .row{
	padding: 0px !important;
}
.banner-home{
	-webkit-box-shadow: 1px 19px 35px -16px rgba(0,0,0,0.71);
	-moz-box-shadow: 1px 19px 35px -16px rgba(0,0,0,0.71);
	box-shadow: 1px 19px 35px -16px rgba(0,0,0,0.71);
}

.banner-home .orbit-bullets{
	margin: 0 auto -26px !important;
}

.row{
	max-width: 1431px;
	/*border: red 1px solid;*/
	padding: 5px 15px 0px 15px;
}

.large-4{
	/*border: red 1px solid;*/
}

.most-requested .row{
	padding-left: 0px !important;
	padding-right: 0px !important;
}

.most-requested img{
	width: 100%;
	min-height: 130px;
	height:178px;
}

.most-requested .description{
	margin-top: 20px;
}

.most-requested .th-item{
	width: 100%;
	min-height: 180px;
	overflow: hidden;
    background-position: center;
    background-size: 324px;
    background-repeat: no-repeat;
}

.login .row{
	padding-left: 32px !important;
	padding-bottom: 32px !important;
}

.login .large-3{
	border: #000 solid 1px;
	padding: 20px;
	background-image: url("../img/Login-bg.png");
    height:100%;
}

.left-side-bar{

}

.left-side-bar .row{
	padding: 0px;
}

.left-side-bar .postfix{
	padding: 0px !important;
	margin: 0px !important;
}

.secondary{
	background-color: transparent !important;
	border-top: 1px solid #6f6f6f !important;
	border-right: 1px solid #6f6f6f !important;
	border-bottom: 1px solid #6f6f6f !important;
	padding: 0px !important;
}

.left-side-bar input{
	border: none !important;
	border-top: 1px solid #6f6f6f !important;
	border-left: 1px solid #6f6f6f !important;
	border-bottom: 1px solid #6f6f6f !important;
	box-shadow: none !important;
}

.left-side-bar select{
	background-color: #fff !important;
	border: 1px solid #6f6f6f !important;
}

footer{
	
	min-height: 50px;
	width: 100%;
	color: #fff;
}

footer .row{
	padding: 15px 15px 0px 15px !important;
}

footer h4{
	color: #fff;
}

footer a{
	text-decoration: underline !important;
	font-size: 12px;
	color: #fff;
}

footer li{
	list-style: none !important;
	margin-bottom: 0px !important;
	font-size: 12px;
}

footer .right{
	text-align: right;
}

.legend{

}

.legend	.small-10{
	padding-top: 3px;
}

.legend .small-4{
	padding-right: 0px !important;
}

.capexlist .row{
	padding-left: 0px !important;
	padding-right: 0px !important;
	padding-top: 0px !important;
}

.capexlistimage .th-item{
	width: 100%;
	min-height: 143px;
	overflow: hidden;
    background-position: center;
    background-size: 324px;
    background-repeat: no-repeat;
}

.capexlist .legend-available{
	background-image: url("../img/l_available");
	background-repeat: no-repeat;
	max-width: 100%;
	height: 100%;
}

.capexlist .button.round {
    border-radius: 1000px;
    background-color: #113c56 !important;
    color: #fff;
    font-size: 12px;
    padding:5px 9px !important;
}

.capexlist .quantity{
	/*padding-top: 8px;*/
	padding-right: 0px !important;

}

.capexdetails{

}

.capexdetails input{
	border: 1px solid #6f6f6f!important;
	/*border-top: 1px solid #6f6f6f !important;
	border-left: 1px solid #6f6f6f !important;
	border-bottom: 1px solid #6f6f6f !important;
	box-shadow: none !important;*/
	margin: 0 auto;
}

.capexdetails select{
	background-color: #fff !important;
	border: 1px solid #6f6f6f !important;
	margin: 0 auto;
}

.capexdetails select.input-sm{
	background-color: #fff !important;
	border: 1px solid #6f6f6f !important;
	margin: 0 auto;
	line-height :normal;
	border-radius: inherit;
}

.capexdetails .button.round {
    border-radius: 1000px;
    background-color: #113c56 !important;
    color: #fff;
    font-size: 12px;
}

.capexdetails caption{
	background-color: #000 !important;
	color: #fff !important;
}

.capexdetails th{
	background-color: #acacac;
	text-align: center;
	font-size: 12px !important;
	border-bottom: 4px #246694 solid !important;
}

.capexdetails tbody, td{
	font-size: 12px !important;
}

.capexdetails tr{
	border-bottom: 1px solid #000 !important;
}

.capexdetails table .button{
	padding: 2px 10px !important;
	margin: 0px;
}

.capexdetails table tr th, table tr td {
	padding-top: 5px !important;
	padding-bottom: 5px !important;
}
.capexdetails table{
	width: 100%;
	border-spacing: 0 !important;
}
/* LEGEND BUTTONS*/

button.available, .button.available {
    background-color: #005e20;
    border-color: #074724;
    color: #fff; 
    text-align: left;
    font-weight: normal !important;
    font-family: 'Roboto', sans-serif !important;
	font-size:12px !important;
	padding-left: 6px !important;
}
    button.available:hover, button.available:focus, .button.available:hover, .button.available:focus {
      background-color: #074724; 
  }
    button.available:hover, button.available:focus, .button.available:hover, .button.available:focus {
      color: #fff; 
  }
  
  button.inuse, .button.inuse {
    background-color: #B20000;
    border-color: #A30101;
    color: #fff; 
    text-align: left;
    font-weight: normal !important;
    font-family: 'Roboto', sans-serif !important;
	font-size:12px !important;
	padding-left: 6px !important;
}
    button.inuse:hover, button.inuse:focus, .button.inuse:hover, .button.inuse:focus {
      background-color: #A30101; 
  }
    button.inuse:hover, button.inuse:focus, .button.inuse:hover, .button.inuse:focus {
      color: #fff; 
  }
  
  button.borrowed, .button.borrowed {
    background-color: #FF5900;
    border-color: #EA5402;
    color: #fff; 
    text-align: left;
    font-weight: normal !important;
    font-family: 'Roboto', sans-serif !important;
	font-size:12px !important;
	padding-left: 6px !important;
}
    button.borrowed:hover, button.borrowed:focus, .button.borrowed:hover, .button.borrowed:focus {
      background-color: #EA5402; 
  }
    button.borrowed:hover, button.borrowed:focus, .button.borrowed:hover, .button.borrowed:focus {
      color: #fff; 
  }

button.reserved, .button.reserved {
    background-color: #00549F;
    border-color: #004962;
    color: #fff; 
    text-align: left;
    font-weight: normal !important;
    font-family: 'Roboto', sans-serif !important;
	font-size:12px !important;
	padding-left: 6px !important;
}
    button.reserved:hover, button.reserved:focus, .button.reserved:hover, .button.reserved:focus {
      background-color: #004962; 
  }
    button.reserved:hover, button.reserved:focus, .button.reserved:hover, .button.reserved:focus {
      color: #fff; 
  }
  
  .promoimage {
	min-height: 143px;
	overflow: hidden;
    background-position: center;
    background-size: 324px;
    background-repeat: no-repeat;
}

.ellipsisdiv{
    overflow:hidden;
    text-overflow:ellipsis;
    white-space:nowrap
}

.inline-block{
    display: inline-block;
}

.margin-bottom-10{
    margin-bottom:10px;
}
  

img{
    vertical-align:baseline;
}

.content-height{
    min-height:320px;
}

.length-label{
    text-align:right;
    font-style:italic;
    color:Gray;
    padding:2px 0px;
}

.item-img
{
    min-height:295px;
}

.reportGrid tbody, td
{
    font-size : 11px !important;
}

.container
{
    padding-top: 20px !important;
}

.modalDialog {
	position: fixed;
	font-family: Arial, Helvetica, sans-serif;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background: rgba(0,0,0,0.8);
	z-index: 99999;
	opacity:0;
	-webkit-transition: opacity 400ms ease-in;
	-moz-transition: opacity 400ms ease-in;
	transition: opacity 400ms ease-in;
	pointer-events: none;
}

.modalDialog:target {
	opacity:1;
	pointer-events: auto;
}

.modalDialog > div {
	width: 400px;
	position: relative;
	margin: 10% auto;
	padding: 5px 20px 13px 20px;
	border-radius: 10px;
	background: #fff;
	background: -moz-linear-gradient(#fff, #999);
	background: -webkit-linear-gradient(#fff, #999);
	background: -o-linear-gradient(#fff, #999);
}

.close {
	background: #606061;
	color: #FFFFFF;
	line-height: 25px;
	position: absolute;
	right: -12px;
	text-align: center;
	top: -10px;
	width: 24px;
	text-decoration: none;
	font-weight: bold;
	-webkit-border-radius: 12px;
	-moz-border-radius: 12px;
	border-radius: 12px;
	-moz-box-shadow: 1px 1px 3px #000;
	-webkit-box-shadow: 1px 1px 3px #000;
	box-shadow: 1px 1px 3px #000;
}

.close:hover { background: #00d9ff; }

/* SMSConnect CSS */

.navigation {
   background-image: url("../img/header_background.png");
   background-size: 100% 100%;
   min-height: 720px;
   position:absolute;
   max-height: 100%;
}

.account {
    
    /*height:100%;*/
    overflow:visible;
}

.lay 
{
    /*height: 100%;*/
    background-image: url("../img/account_background.png");
    padding:0px;
    position: relative;
}

.account .container {
    margin-left: 0px;
    margin-right: 0px;
    width: 100%;
}

.sidenav {
    overflow :visible;
}

.sidenav li a
{
    padding-bottom:5px;
    padding-top:5px;
}

.sidenav a
{
    width: 200px;
    padding-left:10px;
}

.sidenav a:hover
{
    width: 200px;
    padding-left:10px;
}


.sidenav ul li a
{
    text-decoration :none;
    display:block;
    font-family: Arial;
    font-size: 22px;
    color: White;
    list-style-type:none;
    background-size: 100% 100%;
    background-color:transparent;
}

.sidenav ul li a:hover
{
    text-decoration :none;
    display:block;
    font-family: Arial;
    font-size: 22px;
    color: #4E1168;
    list-style-type:none;
}

.sidenav ul li:hover
{
    background-image: url("../img/hover.png");
    background-size: 100% 100%;
    background-color:transparent;
    color: #4E1168;
}
.sidenav ul li:hover > a 
{
    color: #4E1168;
}
.sidenav ul
{
    list-style-type:none;
    margin-left:-5px;
}

.sideuser
{
    padding-top:130px;
}

.sideuser a
{
    color: #2ABED0;
    font-family: Arial;
    font-weight:bold;
    font-size: 12px;
    text-decoration :none;
    vertical-align:text-top;
}

.info
{
    font-size: 20px !important;
    color: #2ABED0;
    font-family: Arial;
    font-weight:bold;
}

.row .info
{
    padding: 0px 0px 0px 0px !important;
}

.loginbox label
{
    color:White;
    font-family:Arial;
}

.loginbox .button
{
    background-color:#4E1168;
    color: #FFFFFF;
    width: 100px;
}

.loginbox .button:hover
{
    color:#fcc7fb;
}

.loginbody
{
    background-image: url("../img/account_background.png");
    /*height:100%;*/
}

.logoff ul
{
    list-style-type:none;
    margin: 10px 20px 0px 20px;
    text-align:right;
}

.logoff ul li a
{
    font-family:Arial;
    color: #7E1D96;
    font-size:13px;
    font-weight:bold;
    text-decoration:underline;
}

.btn-primary 
{
    background-color:#7E1D96;
    border-color:White;
}

.btn-primary:hover
{
    background-color:#9030a8;
    border-color:White;
}

.btn-primary:focus
{
    background-color:#9030a8;
    border-color:White;
}

.btn-primary[disabled]:hover
{
    background-color:#e389f9;
    border-color:#e389f9;
}

input[type="text"], input[type="text"]:focus, input[type="date"], input[type="date"]:focus
{
    border-color: #7E1D96;
}

textarea, textarea:focus
{
    border-color: #7E1D96;
}

.pagination>.active>a
{
    background-color: #7E1D96 !important;
    border-color: #7E1D96 !important;
    color: White !important;
}

.pagination>li>a
{
    border-color: #9D47B2 !important;
    color: #9D47B2 !important;
}

/*VERTICAL MENU*/
nav.vertical{
  position:relative;
  z-index:999;
}

nav.vertical:hover 
{
    overflow:visible;
}

/* ALL UL */
nav.vertical ul{
  list-style: none;
}
/* ALL LI */
nav.vertical li{
  position:relative;
  width:200px;
}
/* ALL A */
nav.vertical a{
  display:block;
  text-decoration:none;
  padding:10px 15px;
  transition:0.2s;
}

/* ALL A HOVER */
nav.vertical li:hover > a
{
}

/* INNER UL HIDE */
nav.vertical ul ul{
  position:absolute;
  left:0%;
  top:0;
  width:100%;
  visibility:hidden;
  opacity:0;
  transition: transform 0.2s;
  transform: translateX(50px);
}

/* INNER UL SHOW */
nav.vertical li:hover > ul{
  left:111%;
  display:block;
  visibility:visible;
  opacity:1;
  transform: translateX(0px);
  overflow:visible;
  background-color:#4E1168;
  width:250px;
}

nav.vertical li:hover
{
    color: #4E1168;
}

nav.vertical li:hover > ul a
{
    width:250px;
}

nav.vertical li:hover > ul li
{
    width: 250px;
}

.controls input[type="text"]
{
    width:100%;
}

input[type="radio"]
{
    display:none;
}

label > i {
    display: inline-block;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    margin-right: 5px;
    vertical-align: middle;
    border: 2px solid #7E1D96;
    box-shadow: inset 0 0 0 4px #fff;
    transition: .25s;
  }
  
input[type="radio"]:checked + i {
    background: #7E1D96;
}

input[type="checkbox"] {
    display: inline-block;
    width: 20px;
    height: 20px;
    margin-right: 5px;
    vertical-align: middle;
    box-shadow: inset 0 0 0 2px #7E1D96;
    transition: .25s;
}

.smsReceived
{
    color: #2ABED0;
    font-size: 15px !important;
    padding: 0px 0px 10px 28px;
}

.smsSent
{
    color: #9D47B2;
    font-size: 15px !important;
    padding: 0px 0px 10px 28px;
}

.smsQueued
{
    color: #7E1D96;
    font-size: 15px !important;
    padding: 0px 0px 10px 28px;
}

.smsdashboard
{
    background-color: White;
    margin-left:30px !important;
}

.ErrorDate1 
{
    display:none;
    color:Red;
}

.ErrorDate2
{
    display:none;
    color:Red;
}

.ErrorDate3 
{
    display:none;
    color:Red;
}