* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;  
}

/****** DONUT PIE CHART *******/

.donut-chart-block {
	overflow: hidden;
}

.block {
    overflow: hidden;
}

.donut-chart {
	position: relative;
	width: 200px;
  	height: 200px;
	margin: 0 auto 2rem;
	border-radius: 100%;
	float: left;
}

.clip {
    border-radius: 50%;
    clip: rect(0px, 200px, 200px, 100px);
    height: 100%;
    position: absolute;
    width: 100%;
}

.circle {
    border-radius: 50%;
    clip: rect(0px, 100px, 200px, 0px);
    height: 100%;
    position: absolute;
    width: 100%;
    font-family: monospace;
    font-size: 1.5rem;
}

#segment1 {
    transform: rotate(0deg);
}

#segment1 .circle {
    background-color: #2abed0;
    /*transform: rotate(90deg);*/
}

#segment2 {
    /*transform: rotate(90deg);*/
}

#segment2 .circle {
    background-color: #348ea9;
    /*transform: rotate(144deg);*/
}

#segment3 {
    /*transform: rotate(234deg);*/
}

#segment3 .circle {
    background-color: #9d47b2;
    /*transform: rotate(57.6deg);*/
}
#segment4 {
    /*transform:rotate(291.6deg);*/
}

#segment4 .circle {
    background-color: #7e1d96;
    /*transform: rotate(68.4deg);*/
}

.center-date {
  	background: white;
  	position: absolute;
  	text-align: center;
	font-size: 28px;
  	top:0;left:0;bottom:0;right:0;
  	width: 120px;
  	height: 120px;
  	margin: auto;
  	border-radius: 50%;
  	line-height: 35px;
  	padding: 15% 0 0;
}

/****** END DONUT PIE CHART *******/

/****** HORIZONTAL PERCENT LIST *******/

.horizontal-list {
	float: left;
	margin: 0 0 0 50px;
	padding: 0;
	list-style-type: none;
}

.horizontal-list li {
	list-style-type: none;
	padding-left: 0;
}

.horizontal-list li:before {
    /*content: '\00b7'; */
	content: '\25aa';
    font-size: 80px;
    vertical-align: middle;
    line-height: 20px;
}

.horizontal-list li.q1:before {
	color: #2abed0;
}

.horizontal-list li.q2:before {
	color: #348ea9;
}

.horizontal-list li.q3:before {
	color: #9d47b2;
}

.horizontal-list li.q4:before {
	color: #7e1d96;
}

.percentage span {
	margin: 0;
	padding: 10px 0 5px;
	color: #666565;
	font-size: 13px;
	font-family:Arial;
	font-weight: 600;
	margin-top:10px;
}

.highcharts-background
{
    background-color:transparent;
}