/* ==========================================================================
   Fonts
   ========================================================================== */

/* 



@font-face {
    font-family: 'Montserrat';
    src: url('../fonts/montserrat-bold-webfont.woff2') format('woff2'),
        url('../fonts/montserrat-bold-webfont.woff') format('woff');
    font-weight: 700;
    font-style: normal;

}

@font-face {
    font-family: 'Montserrat';
    src: url('../fonts/montserrat-bolditalic-webfont.woff2') format('woff2'),
        url('../fonts/montserrat-bolditalic-webfont.woff') format('woff');
    font-weight: 700;
    font-style: italic;

}

@font-face {
    font-family: 'Montserrat';
    src: url('../fonts/montserrat-italic-webfont.woff2') format('woff2'),
        url('../fonts/montserrat-italic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: italic;

}

@font-face {
    font-family: 'Montserrat';
    src: url('../fonts/montserrat-regular-webfont.woff2') format('woff2'),
        url('../fonts/montserrat-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'Montserrat';
    src: url('../fonts/montserrat-semibold-webfont.woff2') format('woff2'),
        url('../fonts/montserrat-semibold-webfont.woff') format('woff');
    font-weight: 600;
    font-style: normal;

}

@font-face {
    font-family: 'Montserrat';
    src: url('../fonts/montserrat-semibolditalic-webfont.woff2') format('woff2'),
        url('../fonts/montserrat-semibolditalic-webfont.woff') format('woff');
    font-weight: 600;
    font-style: italic;

}

@font-face {
    font-family: 'Titillium Web';
    src: url('../fonts/titilliumweb-bold-webfont.woff2') format('woff2'),
        url('../fonts/titilliumweb-bold-webfont.woff') format('woff');
    font-weight: 700;
    font-style: normal;

}

@font-face {
    font-family: 'Titillium Web';
    src: url('../fonts/titilliumweb-bolditalic-webfont.woff2') format('woff2'),
        url('../fonts/titilliumweb-bolditalic-webfont.woff') format('woff');
    font-weight: 700;
    font-style: italic;

}

@font-face {
    font-family: 'Titillium Web';
    src: url('../fonts/titilliumweb-italic-webfont.woff2') format('woff2'),
        url('../fonts/titilliumweb-italic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: italic;

}

@font-face {
    font-family: 'Titillium Web';
    src: url('../fonts/titilliumweb-regular-webfont.woff2') format('woff2'),
        url('../fonts/titilliumweb-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'Titillium Web';
    src: url('../fonts/titilliumweb-semibold-webfont.woff2') format('woff2'),
        url('../fonts/titilliumweb-semibold-webfont.woff') format('woff');
    font-weight: 600;
    font-style: normal;

}

@font-face {
    font-family: 'Titillium Web';
    src: url('../fonts/titilliumweb-semibolditalic-webfont.woff2') format('woff2'),
        url('../fonts/titilliumweb-semibolditalic-webfont.woff') format('woff');
    font-weight: 600;
    font-style: italic;

}
/* Roar Create Button color */
.createb
{
    background-color:#FFD700;
}

/* Custom Font Icon */
@font-face {
    font-family: 'icomoon';
    src: url('../fonts/email-share.eot?hrtjh8');
    src: url('../fonts/email[share.eot?hrtjh8#iefix') format('embedded-opentype'),
        url('../fonts/email-share.ttf?hrtjh8') format('truetype'),
        url('../fonts/email-share.woff?hrtjh8') format('woff'),
        url('../fonts/email-share.svg?hrtjh8#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
}

[class^="icon-"],
[class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'icomoon' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-email-share:before {
    content: "\e900";
}

.icon-lg {
    font-size: 1.8em;
    line-height: 0;
    vertical-align: -0.2em;
}


/* ==========================================================================
   GENERAL
   ========================================================================== */
:root {
    --color-darkblue: #0e172e;
    --color-darkblue2: #3262A3;
    --color-darkblue3: #284e82;
    --color-lightblue: #4996EA;
    --color-blue: #448BD8;
    --color-pastelblue: #3262A3;
    --color-orange: #FD740D;
    --color-green: #1CBF25;
    --color-red: #BF0402;
}

* {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

html,
body {
    height: 100%;
}

body {
    color: rgba(0, 0, 0, 0.8);
    font-weight: normal;
}

html,
html * {
    font-family: 'Montserrat', Arial, Helvetica, sans-serif;
    font-size: 12px;
}

h1,
h2,
h3,
h4,
h5,
h6,
.module__name a {
    font-family: 'Titillium Web', Arial, Helvetica, sans-serif;
    margin: 0;
}

h1 {
    font-size: 2.25em;
}

h2 {
    font-size: 1.5em;
}

.mt0 {
    margin-top: 0;
}

.mr8 {
    margin-right: 8px;
}

.btn {
    padding: 7.5px 35px;
}

.btn--icon {
    padding: 12px 25px 9px;
}

.link--red,
.link--red:focus,
.link--red:visited {
    color: #BF0402;
}

.form-control,
.btn,
.primary__button,
.ghost__button {
    font-size: 1em;
}

.btn,
.primary__button,
.ghost__button {
    text-transform: uppercase;
    font-weight: 700;
}


.primary__button,
.ghost__button {
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    transition: all 0.3s cubic-bezier(.25, .8, .25, 1);
    -webkit-transition: all 0.3s cubic-bezier(.25, .8, .25, 1);
    -moz-transition: all 0.3s cubic-bezier(.25, .8, .25, 1);
    -o-transition: all 0.3s cubic-bezier(.25, .8, .25, 1);

}

.primary__button {
    background-color: #448BD8;
    border: none;
    color: #ffffff;
}

.primary__button.mb20 {
    margin-bottom: 20px;
}


.primary__button:hover,
.ghost__button:hover {
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
    -moz-box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
    -webkit-box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
}

.btn:disabled {
    box-shadow: none;
}

.primary__button:hover {
    color: #ffffff;
    background: #4996EA;
}

.primary__button:active,
.primary__button:focus,
.ghost__button:hover {
    color: #ffffff;
}

.ghost__button {
    border: 2px solid #448BD8;
    padding: 3px 25px 1px;
    margin: 0;

}

.ghost__button:hover {
    border-color: #448BD8;
    background: #448BD8;
}

.ghost__button:active,
.ghost__button:focus {
    color: #448BD8;
}

.ghost__button--sm {
    border-width: 1px;
    font-size: 0.857em;
}

.ghost__button--cpr {
    float: right;
}

a {
    color: #448BD8;
}

.pageloader {
    width: 100%;
    height: 100vh;
    left: 0;
    top: 0;
    position: fixed;
    text-align: center;
    background: #ffffff;
    z-index: 99999;
    display: table;
}

.pageloader__cell {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
}

.pageloader__content {
    display: inline-block;
}

.pageloader__logo {
    width: 130px;
    max-width: 100%;
    margin-right: 20px;
}

.fa-cstm {
    font-size: 17px;
}


.cbox-cstm {
    height: 23px;
}

.table > tbody > tr > td,
.table > tbody > tr > th,
.table > tfoot > tr > td,
.table > tfoot > tr > th,
.table > thead > tr > td,
.table > thead > tr > th {
    padding: 5px;
}

.list-arrows {
    margin-top: 5%;
}

/* GENERAL MEDIA QUERIES
   ========================================================================== */

@media (max-width: 599px) {
    .pageloader__content {
        width: 100%;
        max-width: 200px;
    }

    .pageloader__logo {
        margin-right: none;
        margin-bottom: 20px;
    }

    .ghost__button--cpr {
        float: unset;
    }

    button.primary__button--mb10 {
        margin-bottom: 10px;
    }
}



/* ==========================================================================
   LOGIN
   ========================================================================== */

.login {
    display: table;
    width: 100%;
    height: 100vh;
    z-index: 0;
}

.login::after,
.login::before {
    content: "";
    width: 100%;
    position: fixed;
    bottom: 0;
}

.login::after {
    height: 100vh;
    top: 0;
    right: 0;
    left: 0;
    background-image: url('../img/login-bg.jpg');
    background-size: cover;
    background-position: center top;
    opacity: 0.05;
    z-index: -1;
}

.login::before {
    height: 50vh;
    background: #3262A3;
    z-index: -2;
}

.login__container {
    display: table-cell;
    text-align: center;
    vertical-align: middle;
    z-index: 999;
}

.login__logo {
    width: 100%;
    max-width: 140px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 30px;
}

.login__logo img {
    width: 100%;
}

.login__form {
    display: inline-block;
    text-align: left;
    width: 100%;
    max-width: 500px;
    background: #ffffff;
    padding: 50px;
    border-radius: 5px;
    box-shadow: 0 19px 38px rgba(0, 0, 0, 0.30), 0 15px 12px rgba(0, 0, 0, 0.22);
    -moz-box-shadow: 0 19px 38px rgba(0, 0, 0, 0.30), 0 15px 12px rgba(0, 0, 0, 0.22);
    -webkit-box-shadow: 0 19px 38px rgba(0, 0, 0, 0.30), 0 15px 12px rgba(0, 0, 0, 0.22);
}

.login__form h1 {
    text-align: center;
    margin: 0 0 30px 0;
}

.login__control-label {
    text-transform: uppercase;
    color: rgba(0, 0, 0, 0.6);
}

.login__form-group--mb0 {
    margin-bottom: 0;
}

.login__form-group--mtb40 {
    margin: 20px 0;
}

.login__form-group--center {
    text-align: center;
}

.login__forgotpass {
    font-style: italic;
    text-decoration: underline;
}

.login__footer {
    margin-top: 20px;
}

.login__footer p {
    color: #ffffff;
}


/* LOGIN MEDIA QUERIES
   ========================================================================== */

@media (max-width: 599px) {
    .login__logo {
        width: 70%;
        margin-bottom: 20px;
    }

    .login__form {
        width: 90%;
        padding: 30px;
    }

    .login__footer {
        display: inline-block;
        width: 100%;
        max-width: 300px;
    }
}

/* ==========================================================================
   NPROGRESS OVERRIDE
   ========================================================================== */
#nprogress .bar {
    background: #FD740D;
}

#nprogress .peg {
    box-shadow: 0 0 10px #FD740D, 0 0
}

#nprogress .spinner-icon {
    border-top-color: #FD740D;
    border-left-color: #FD740D;
}

/* ==========================================================================
   GENTELELLA OVERRIDE
   ========================================================================== */

.gentelella-or,
.nav_menu,
.nav_title,
.left_col,
.sidebar-footer {
    background: #3262A3;
}

.nav-md .container.body .right_col {
    padding: 10px 10px;
}

.btn,
.buttons,
.modal-footer .btn + .btn,
button {
    margin-bottom: 0;
    margin-right: 5px;
}

.nav.child_menu > li > a,
.nav.side-menu > li > a {
    color: #ffffff;
}

.nav-sm .nav.side-menu li a i {
    display: block;
}

.dataTables_wrapper > .row {
    overflow: visible !important;
}

/* LOGO
   ========================================================================== */

.site_title {
    text-align: center;
    padding-left: 0;
    line-height: inherit;
    height: auto;
}

.nav_title {
    padding: 17px 0;
    height: auto;
    border-right: 1px solid rgba(255, 255, 255, 0.1) !important;
    border-bottom: 1px solid rgba(255, 255, 255, 0.1) !important;
}

.navbar-brand,
.navbar-nav > li > a {
    line-height: initial;
}

/* HORIZONTAL NAV
   ========================================================================== */

#menu_toggle {
    color: #4594DB;
}

.toggle {
    padding-top: 10px;
    width: 40px;
}

.toggle a {
    padding: 15px 0;
}

.nav_menu {
    padding: 18px 10px;
}

.nav_menu--home {
    position: relative;
    z-index: 9;
}

.user-details__name {
    border-right: 1px solid rgba(255, 255, 255, 0.3);
}

.user-details .user-details__name a {
    display: inline-block;
    padding: 13px 15px 12px 5px;
}

.user-details__name,
.user-details__name a {
    color: #ffffff;
    margin: 0;
}

.user-details__name i {
    margin-right: 5px;
}

.user-details__logout i {
    transition: all ease-in 0.2s;
}

.user-details .user-details__logout form {
    padding: 12px 0px 12px 10px;
}

.user-details .user-details__logout form a i {
    color: #ffffff;
}

.user-details__logout form a:hover i {
    color: #F7931E;
}

.user-details__logout .tooltip.bottom {
    width: 260%;
}

.top_nav .navbar-right {
    width: 30%;
}

.top_nav .nav .open > a,
.top_nav .nav .open > a:focus,
.top_nav .nav .open > a:hover,
.top_nav .nav > li > a:focus,
.top_nav .nav > li > a:hover {
    background: none;
}

.navbar-nav .open .dropdown-menu {
    margin-top: 20px;
}

.module__name {
    background: none;
    float: left;
}

.module__name a {
    font-size: 2.25em;
    font-weight: 600;
    color: #ffffff
}

.module__name-sm {
    margin-bottom: 15px;
    display: none;
}

.module__name-sm a {
    color: #3262A3;
}

/* SIDEBAR
   ========================================================================== */

.main_menu span.fas {
    float: right;
    text-align: center;
    margin-top: 5px;
    font-size: 10px;
    min-width: inherit;
    color: #C4CFDA
}

.main_menu .fas {
    width: 26px;
    opacity: .99;
    display: inline-block;
    font-size: 18px;
    -moz-osx-font-smoothing: grayscale
}

.nav.child_menu > li > a,
.nav.side-menu > li > a {
    font-weight: 700;
}

.nav.side-menu > li > a {
    text-transform: uppercase;
}

.nav.child_menu > li > a {
    padding: 15px 9px;
    font-size: 1em;
}

.nav-sm .nav.side-menu li a {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.w100 {
    width: 100%;
}

.nav-sm ul.nav.child_menu {
    background: #284e82;
}

.nav-sm ul.nav.child_menu li a {
    width: 85%;
    font-size: 0.857em;
    font-weight: 600;
    margin: 0 auto;
}

.nav-sm .menu_section span.fas {
    display: none;
}

.nav-md ul.nav.child_menu li:before {
    margin-top: 18px;
}

.nav-md ul.nav.child_menu li:after {
    border: none;
}

.nav.navbar-nav > li > a {
    color: #ffffff !important;
}

.nav.side-menu > li.active > a {
    background: #FD740D;
    margin-bottom: 0;
}

.nav.side-menu > li.active,
.nav.side-menu > li.current-page,
.nav-sm .nav.child_menu li.active,
.nav-sm .nav.side-menu li.active-sm {
    border: none;
}

.nav.side-menu > li.active,
.nav.side-menu > li.current-page {
    background: none;
}

.nav-sm .nav.child_menu li.active,
.nav-sm .nav.side-menu li.active-sm {
    background: #FD740D;
}

.footer__copyright {
    color: rgba(255, 255, 255, 0.7);
    font-size: 0.857em;
    line-height: 1.286em;
    text-align: center;
    text-transform: uppercase;
}

.nav-md ul.nav.child_menu li:before {
    display: none;
}

.nav-md ul.nav.child_menu li:hover::before,
.nav-md ul.nav.child_menu li.current-page::before {
    display: block;
    background: #FD740D;
}

.nav-sm .child_menu li.current-page::before,
.nav-sm .child_menu li:hover::before {
    background: #FD740D;
    bottom: auto;
    content: "";
    height: 8px;
    left: 15px;
    margin-top: 15px;
    position: absolute;
    right: auto;
    width: 8px;
    z-index: 9999;
    border-radius: 50%;
}

.nav .child_menu {
    background: #284e82;
}

.nav-sm .container.body .right_col {
    padding: 10px;
}

.child_menu--many {
    height: 300px;
    overflow-y: scroll;
}

/* NAV / SIDEBAR MEDIA QUERIES
   ========================================================================== */

@media (max-width: 599px) and (orientation: portrait) {
    .nav_title {
        padding: 17px 0;
    }

    .top_nav .navbar-right {
        width: 70%;
    }

    .module__name {
        display: none;
    }

    .module__name-sm {
        display: block;
    }

    .user-details {
        margin: 0;
    }

    .user-profile img {
        width: 30px;
        height: 30px;
    }

    .user-details li {
        display: inline-block;
    }

    .user-details__name span {
        display: none;
    }
}

@media (max-width: 991px) {
    .user-details li {
        display: inline-block;
    }

    .user-details {
        margin: 0;
    }
}


/* CONTENT
   ========================================================================== */

body .container.body .right_col {
    background: #f2f2f2;
}

body .container.body .right_col--home::after {
    content: "";
    width: 100%;
    position: fixed;
    /* margin-left: 230px; */
    bottom: 0;
    height: 100vh !important;
    top: 0;
    right: 0;
    left: 0;
    background-image: url('../img/login-bg.jpg');
    background-size: cover;
    background-position: center top;
    opacity: 0.1;
    z-index: 0;
}

body .container.body .right_col--home.right_col--md::after {
    margin-left: 230px;
}

.home-wrap {
    width: 100%;
    height: 80vh;
    display: table;
    position: relative;
    z-index: 9;
}

.home__logo {
    display: table-cell;
    text-align: center;
    vertical-align: middle;
}

.home__logo img {
    width: 15%;
}

.panel_toolbox {
    min-width: auto;
    margin-top: 3px;
}

.panel_toolbox > li > a {
    padding: 0;
}

.panel_toolbox > li > a:hover {
    background: none;
    color: #ffffff;
}

.x_panel,
.x_title {
    margin: 0;
}

.x_panel {
    padding: 0;
    border-radius: 4px;
    border: 1px solid #dddddd;
    overflow: visible;
    margin-bottom: 10px;
}

.x_title,
.x_content {
    padding: 10px;
}

.x_title {
    border-bottom: none;
    background: #3262A3;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    padding: 10px;
}

.x_title h2 {
    margin: 0;
    overflow: unset;
}

.panel__title,
.panel__title .fas {
    color: #ffffff;
}

.panel__title {
    font-size: 1.5em;
}

.panel__title .fas {
    margin-right: 10px;
}

.form-control {
    border-radius: 4px;
    /*    padding: 8px 12px 6px;*/
}

.form-group__label {
    /*    margin-bottom: 10px;*/
}

.form-group--icon {
    float: right;
}

.icon__btn,
.icon__btn:hover {
    padding: 6px 12px;
    color: rgba(16, 30, 49, 0.8);
}

.jdtable-col {
    padding: 0;
}

.td-nowrap td {
    max-width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.td-nowrap td:last-child {
    overflow: visible;
}

#records__table_wrapper {
    margin-top: 25px;
}

#records__table_wrapper .row,
#records__cprdetails_wrapper .row,
#records__history_wrapper .row {
    margin-right: 0;
    margin-left: 0;
}

#records__table_wrapper .row:nth-child(2),
#records__cprdetails_wrapper .row:nth-child(2),
#records__dossier_wrapper .row:nth-child(2),
#records__history_wrapper .row:nth-child(2) {
    margin: 0;
}

#records__table_wrapper .col-sm-12,
#records__cprdetails_wrapper .col-sm-12 {
    padding-right: 0;
    padding-left: 0;
}

#records__history td[colspan*="12"] {
    padding: 0;
}

.records__wrap {
    overflow-x: auto;
}

#records__apptype_filter {
    text-align: left;
    float: unset;
}

#records__apptype_length {
    text-align: right;
    float: right;
}

.active-circle {
    color: #1CBF25;
}

.active-circle--false {
    color: #BF0402;
}

/*
.records__manyrec th,
.records__manyrec td {
    font-size: 0.857em;
}
*/

.pagination > .active > a,
.pagination > .active > a:focus,
.pagination > .active > a:hover,
.pagination > .active > span,
.pagination > .active > span:focus,
.pagination > .active > span:hover,
.pagination > li > a:hover {
    color: #ffffff;
    background: #448BD8 !important;
    font-weight: 600;
}

.pagination > .disabled > a:hover {
    font-weight: normal;
    background: none !important;
}

.pagination > li > a,
.pagination > li > span {
    color: rgba(0, 0, 0, 0.8);
}

.dataTables_paginate a {
    background: none !important;
}

/*
#records__table_wrapper .row:first-child,
#records__table_wrapper .row:nth-child(2) {
    margin-bottom: 10px;
}
*/

#records__table_wrapper .row:last-child {
    overflow: visible !important;
}

.records__table-wrap {
    width: 100%;
}


.paging_full_numbers {
    height: unset;
    width: 100%;
}

.actions,
.actions--center,
.actions__exlink {
    text-align: center;
}

.actions--center input {
    width: 15px;
    height: 15px;
}

.actions--center .glyphicon {
    font-size: 1.286em;
}

.actions__btn {
    cursor: pointer;
}

.actions__dropdown-menu-right {
    right: 0;
    left: auto;
    padding: 10px 0;
}

.actions__dropdown-menu-right li > a,
.actions__dropdown-menu-right li > a:focus,
.actions__dropdown-menu-right li > a:active,
.actions__dropdown-menu-right li > a:hover {
    font-weight: 600;
    color: #448BD8;
}

.actions__dropdown-menu-right li > a:hover {
    background: none;
    text-decoration: underline;
}


.date input {
    border-right: none;
}

.date .far {
    color: #FD740D;
}

.input-group.date .input-group-addon {
    border-top-right-radius: 4px !important;
    border-bottom-right-radius: 4px !important;
    background: #ffffff;
}

.table > tbody > tr > td,
.table > tbody > tr > th,
.table > tfoot > tr > td,
.table > tfoot > tr > th,
.table > thead > tr > td,
.table > thead > tr > th {
    vertical-align: middle;
}

.iconSettings,
td.details-control:before,
tr.shown td.details-control:before {
    font-family: 'Font Awesome 5 Free';
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    display: inline-block;
    font-style: normal;
    font-variant: normal;
    text-rendering: auto;
    font-weight: 900;
    line-height: 1;
    margin-right: 8px;
}

td.details-control {
    cursor: pointer;
    font-weight: 700;
    color: #448BD8;
}

td.details-control:before {
    content: '\f078';
}

tr.shown td.details-control:before {
    content: '\f077';
}

.table__inner {
    margin-bottom: 0;
}

.table .table__inner {
    background: none;
}

.table__inner > tbody > tr > td {
    border-top: none;
}

.table__inner tr > td {
    text-align: right;
}

.tooltip-inner {
    white-space: unset;
}

.filter-btns--right {
    text-align: right;
}

.filter-btns--right br {
    display: none;
}

.add-filter-wrap {
    position: relative;
}

.add-filter-wrap .del-filter-btn {
    position: absolute;
    right: -10px;
    top: 10px;
    z-index: 9;
}

.add-filter-group .fa-lg {
    vertical-align: -0.3em;
}

.is-hidden {
    display: none;
}

.is-active {
    display: block;
}

.search-group .form-group {
    width: 75%;
}

.search-group .input-group {
    margin-bottom: 0;
    width: 100%;
}

.search-group .input-group .input-group-btn {
    width: 1%;
}

/* CONTENT MEDIA QUERIES
   ========================================================================== */
@media screen and (max-width: 599px) {

    .filter-btns,
    .filter-btns--right {
        text-align: center;
    }

    .search-group .form-group,
    .btn--xs100 {
        width: 100%;
    }

    .home__logo img {
        width: 45%;
    }
}

@media screen and (max-width: 768px) {

    /*  Form Group Export Print Share  */
    .row--lr {
        margin-bottom: 10px;
    }

    .form-group--icon {
        float: left;
    }

    /* Tables */

    #records__table,
    #records__history,
    #records__cprdetails,
    #records__apptype {
        border: 0;
    }

    #records__table thead,
    #records__history thead,
    #records__cprdetails thead,
    #records__apptype thead {
        border: none;
        clip: rect(0 0 0 0);
        height: 1px;
        margin: -1px;
        overflow: hidden;
        padding: 0;
        position: absolute;
        width: 1px;
    }

    #records__table tr,
    #records__history tr,
    #records__cprdetails tr,
    #records__apptype tr {
        border-bottom: 3px solid #448BD8;
        display: block;
        margin-bottom: 15px;
    }

    #records__table td,
    #records__history td,
    #records__cprdetails td,
    #records__apptype td {
        display: block;
        text-align: right;
    }

    #records__table td::before,
    #records__history td::before,
    #records__cprdetails td::before,
    #records__apptype td:before {
        font-family: 'Montserrat', Arial, Helvetica, sans-serif;
        content: attr(data-label);
        float: left;
        font-weight: 700;
        text-transform: uppercase;
        line-height: unset;
    }

    #records__table td:last-child,
    #records__history td:last-child,
    #records__cprdetails td:last-child,
    #records__apptype td:last-child {
        border-bottom: 0;
    }

    .table__inner tr {
        border-bottom: none !important;
    }
}

@media (max-width: 991px) {

    body .container.body .right_col--home::after,
    body .container.body .right_col--home.right_col--md::after {
        margin: 0;
    }
}

/* FOOTER
   ========================================================================== */

footer {
    display: none;
}