@import url('https://fonts.googleapis.com/css?family=Montserrat:400,700');

html {
  
}

body {
	font-family: 'Montserrat', sans-serif;
	font-size: 1.25em;
	background-color: #fafbfb;
}

a:hover., a:focus {
	text-decoration: none !important;
}

.container-content {
	padding-left: 40px;
}


.database-item {	
	padding: 10px;
	border: 2px solid #d7d7d7;
	border-left: 0;
}

.container-database .container-database-item:nth-child(2) .border-left {
    border-left: 20px solid #4df4cb;
}

.container-database .container-database-item:nth-child(3) .border-left {
    border-left: 20px solid #108fdc;
}

.container-database .container-database-item:nth-child(4) .border-left {
    border-left: 20px solid #e96767;
}

@media (max-width: 767px) {
	.container-database-item {
		margin-bottom: 15px;	
	}
	.container-database-item:last-child {
		margin-bottom: 0;	
	}
}
          .hook {
              background-size:contain;
              background-repeat:no-repeat;
              background-position:center;
              background-image: url('../../Content/img/hook_logo.png');
              z-index:9999;
            }   

.panel {
  margin-bottom: 20px;
  background-color: #fff;
  border: 1px solid transparent;
  border-radius: 4px;
  -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, .05);
          box-shadow: 0 1px 1px rgba(0, 0, 0, .05);
}

.form-heading {
  padding: 10px 15px;
  background-color: #ccc;
}

.btn, .form-control, button {
	border-radius: 0 !important;
}


.table-sms {
	background-color: #fff;
	border-color: #ccc !important;
}

.table-sms th {
	background-color: #ccc;
	border-color: #ccc !important;
	border-right-color: #ddd !important;
	font-weight: 700;
}

.table-sms th:last-child {
	border-right-color: #ccc !important;
}

.table-sms td {
	border-color: #ccc !important;
}


/* ----------------------------- START GENERIC STYLES -------------------------------------------*/

.uppercase {
	text-transform: uppercase;
}

.p-0 {
	padding: 0 !important;
}

.p-5 {
	padding: 5px !important;
}

.p-10 {
	padding: 10px !important;
}

.p-15 {
	padding: 15px !important;
}

.p-20 {
	padding: 20px !important;
}

.p-25 {
	padding: 25px !important;
}

.p-30 {
	padding: 30px !important;
}

.p-0-t {
	padding-top: 0px !important;
}

.p-5-t {
	padding-top: 5px !important;
}

.p-10-t {
	padding-top: 10px !important;
}

.p-15-t {
	padding-top: 15px !important;
}

.p-20-t {
	padding-top: 20px !important;
}

.p-25-t {
	padding-top: 25px !important;
}

.p-30-t {
	padding-top: 30px !important;
}

.p-0-l {
	padding-left: 0px !important;
}

.p-5-l {
	padding-left: 5px !important;
}

.p-10-l {
	padding-left: 10px !important;
}

.p-15-l {
	padding-left: 15px !important;
}

.p-20-l {
	padding-left: 20px !important;
}

.p-25-l {
	padding-left: 25px !important;
}

.p-30-l {
	padding-left: 30px !important;
}

.p-35-l {
	padding-left: 35px !important;
}

.p-0-r {
	padding-right: 0px !important;
}

.p-5-r {
	padding-right: 5px !important;
}

.p-10-r {
	padding-right: 10px !important;
}

.p-15-r {
	padding-right: 15px !important;
}

.p-20-r {
	padding-right: 20px !important;
}

.p-25-r {
	padding-right: 25px !important;
}

.p-30-r {
	padding-right: 30px !important;
}

.p-0-b {
	padding-bottom: 0px !important;
}

.p-5-b {
	padding-bottom: 5px !important;
}

.p-10-b {
	padding-bottom: 10px !important;
}

.p-15-b {
	padding-bottom: 15px !important;
}

.p-20-b {
	padding-bottom: 20px !important;
}

.p-25-b {
	padding-bottom: 25px !important;
}

.p-30-b {
	padding-bottom: 30px !important;
}

.m-0 {
	margin: 0 !important;
}

.m-0-t {
	margin-top: 0 !important;
}

.m-5-t {
	margin-top: 5px !important;
}

.m-10-t {
	margin-top: 10px !important;
}

.m-15-t {
	margin-top: 15px !important;
}

.m-20-t {
	margin-top: 20px !important;
}

.m-25-t {
	margin-top: 25px !important;
}

.m-30-t {
	margin-top: 30px !important;
}

.m-35-t {
	margin-top: 35px !important;
}

.m-0-l {
	margin-left: 0 !important;
}

.m-5-l {
	margin-left: 5px !important;
}

.m-10-l {
	margin-left: 10px !important;
}

.m-15-l {
	margin-left: 15px !important;
}

.m-20-l {
	margin-left: 20px !important;
}

.m-25-l {
	margin-left: 25px !important;
}

.m-30-l {
	margin-left: 30px !important;
}

.m-0-r {
	margin-right: 0 !important;
}

.m-5-r {
	margin-right: 5px !important;
}

.m-10-r {
	margin-right: 10px !important;
}

.m-15-r {
	margin-right: 15px !important;
}

.m-20-r {
	margin-right: 20px !important;
}

.m-25-r {
	margin-right: 25px !important;
}

.m-30-r {
	margin-right: 30px !important;
}

.m-0-b {
	margin-bottom: 0 !important;
}

.m-5-b {
	margin-bottom: 5px !important;
}

.m-10-b {
	margin-bottom: 10px !important;
}

.m-15-b {
	margin-bottom: 15px !important;
}

.m-20-b {
	margin-bottom: 20px !important;
}

.m-25-b {
	margin-bottom: 25px !important;
}

.m-30-b {
	margin-bottom: 30px !important;
}

/* ----------------------------- END GENERIC STYLES -------------------------------------------*/

.upload-label
{
    font-weight: normal !important;
}

.control-group
{
    padding-bottom:5px !important;
}

.form-control
{
    height : 25px;
    font-size : 12px !important;
    padding: 3px 12px !important;
}

.btn-default
{
    height:25px;
}

.btn
{
    padding: 2px 12px;
}

input[type="radio"]
{
    display:none;
}

label > i {
    display: inline-block;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    margin-right: 5px;
    vertical-align: middle;
    border: 2px solid #cccccc;
    box-shadow: inset 0 0 0 4px #fff;
    transition: .25s;
  }
  
input[type="radio"]:checked + i {
    background: #eb3f2d;
}

.upbtn
{
    margin-top: 5px;
}

.btnsms
{
    margin-top: -20px;
}

.multiselect 
{
    width: 200px;
    text-align: left !important;
}

.multiselect-search, .multiselect-clear-filter
{
    height: 30px;
}