.loginbg {
	background: url('../images/bg-leftnav.png') top left;
	background-color: #13a9f0;
}


.loginbox {
	background-color: #fbfbfb;
	padding: 20px;
	padding-top: 100px;
	border-left: 20px solid #108fdc;	
	position: absolute;
  	top: 50%;
  	left: 50%;
  	transform: translate(-50%, -50%);
  	/*margin: auto;
  	position: absolute;
  	top: 0; left: 0; bottom: 0; right: 0;*/
}

.loginbox label {
	font-size: 1.15em;
	margin-top: 7px;	
}

.loginbox-topbar {
	position: absolute;
	top: 15px;
	left: -40px;
	min-height: 60px;
	width: calc(100% + 60px);
	padding: 10px;
	background-color: #f8bf4f;
	color: #fff;
	text-align: center;
                  background-size:contain;
              background-repeat:no-repeat;
              background-position:center;
              background-image: url('../../Content/img/hook_logo.png');
              z-index:9999;
}

.loginbox-topbar-tail {
	position: absolute;
	right: 0;
	bottom: -20px;
	border: 10px solid;
	border-left-color: #c29b50;
	border-top-color: #c29b50; 
	border-bottom-color: transparent; 
	border-right-color: transparent;  
	height: 20px; 
	width: 20px;
}

.loginbox-topbar-tail:first-child {
	left: 0;
	border-left-color: transparent;
	border-top-color: #c29b50; 
	border-bottom-color: transparent; 
	border-right-color: #c29b50;  
}