/*  -------------------- START HEADER STYLES  ------------------------------ */

.headerbar {
	height: 40px;
	background-color: #4df4cb;
	margin-bottom: 30px;
}

.logoutbar {
	position: relative;
	min-height: 60px;
	width: auto;
	padding: 10px;
	background-color: #f8bf4f;
	color: #fff;
    top:-40px;
}

.logoutbar-tail {
	position: absolute;
	left: -20px;
	bottom: 0;
	border: 10px solid;
	border-left-color: transparent;
	border-top-color: #c29b50; 
	border-bottom-color: transparent; 
	border-right-color: #c29b50;  
	height: 20px; 
	width: 20px;
}

.logoutbar a, .logoutbar a:visited {
	color: #fff;
}

.logoutbar a:hover {
	color: #666;
	text-decoration: none;
}


/*  -------------------- END HEADER STYLES  ------------------------------ */

/*  -------------------- START NAVBAR STYLES  ------------------------------ */

/* The side navigation menu */
#container-sidenav {
    height: 100%; /* 100% Full-height */
    width: 25%; 
    position: fixed; /* Stay in place */
    z-index: 999; /* Stay on top */
    top: 0;
    left: 0;
	background: url('../images/bg-leftnav.png') top left repeat-y;
	background-color: #13a9f0;
    /*overflow-x: hidden;  Disable horizontal scroll */
    padding-top: 70px; /* Place content 60px from the top */
    transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
}

.container-welcomebar {
	position: relative;
}

.welcomebar {
	position: absolute;
	top: 0px;
	left: 20px;
	min-height: 60px;
	width: 100%;
	padding: 10px;
	background-color: #f8bf4f;
	color: #fff;	
}

.profilepic {
	width: 40px;
	height: auto;
	float: left;
	margin-right: 10px;
}

.container-username {
	float: left;
}
	
.welcomebar-tail {
	position: absolute;
	right: 0;
	bottom: -20px;
	border: 10px solid;
	border-left-color: #c29b50;
	border-top-color: #c29b50; 
	border-bottom-color: transparent; 
	border-right-color: transparent;  
	height: 20px; 
	width: 20px;
}

.leftnavbar {
	position: relative;
	width: 100%;
	color: #fff;
}

.leftnavbar ul {
	margin: 0;
	padding: 0;
}

.leftnavbar ul li {
	list-style-type: none;
	padding: 10px;
	padding-left: 55px;
	position: relative;
}

.leftnavbar > ul > li:nth-child(1) {
    background: url(../images/navicon-home.png) 20px 6px no-repeat;
}

.leftnavbar > ul > li:nth-child(2) {
    background: url(../images/navicon-sms.png) 20px 6px no-repeat;
}

.leftnavbar > ul > li:nth-child(3) {
    background: url(../images/navicon-maintenance.png) 20px 6px no-repeat;
}

/* When you mouse over the navigation links container, change background color */
.leftnavbar ul.mainnav > li:hover {
	background-color: rgba(0, 72, 106, .15 );
}

.leftnavbar ul.mainnav li.active {
	background-color: rgba(0, 72, 106, .3 );
}

/* The navigation menu links, transition speed */
.leftnavbar > ul > li > a {
	color: #fff;
	transition: 0.25s;
}

/* When you mouse over the navigation links, change their color */
.leftnavbar ul li:hover a, .leftnavbar ul li a:hover {
	color: #f8bf4f;
	text-decoration: none;
}

.leftnavbar ul.mainnav li.active a {
	color: #f8bf4f;
}

.leftnavbar ul.subnav {
	margin-bottom: -10px;
	transition: 0.25s;
}

.leftnavbar ul.subnav li {
	list-style-type: circle;
	background-color: rgba(0, 72, 106, .45 );	
	background-image: none;
	padding: 10px 0 10px 55px;
	margin-left: -55px;
	margin-right: -10px;
}

.leftnavbar ul.subnav li:first-child {
	margin-top: 10px;
}

.leftnavbar .active ul.subnav li a {
	color: #fff;
}

.leftnavbar .active ul.subnav li:hover a, .leftnavbar .active ul.subnav li a:hover {
	color: #f8bf4f;
	text-decoration: none;
}

#container-main {
	margin-left: calc(25% - 15px);
    transition: margin-left .5s;
}

.container-sidenav-minimized {
	margin-left: -25%;
}

.container-main-minimized {
	margin-left: -15px !important;
}

@media (max-width: 620px) {
	.welcomebar {
		height: auto;
		min-height: 0px;
	}
	.profilepic {
		margin: 0;
	}
	.container-username {
		display: none;
	}
	.mainnav-label {
		text-indent: -2500px;
	}
	#container-sidenav {
    	width: 70px; 
	}
	#container-main {
		margin-left: calc(70px - 15px);
    	transition: margin-left .5s;
	}
	.container-sidenav-minimized {
		margin-left: -70px;
	}
	.leftnavbar ul.subnav {
		position: absolute;
		top: -10px;
		left: 70px;
	}
	.leftnavbar ul.subnav li{
		text-indent: 0;
		list-style-type: none;
		background-color: rgba(0, 72, 106, .85 );	
		padding: 10px;
		margin-left: 0;
		margin-right: 0;
		width: auto;
	}
}

@media (min-width: 621px) and (max-width: 767px) {
	.profilepic {
		margin-bottom: 10px;
	}
}

@media (min-width: 768px) and (max-width: 991px) {
	#container-sidenav {
    	width: 20%; 
	}
	#container-main {
		margin-left: calc(20% - 15px);
    	transition: margin-left .5s;
	}
	.container-sidenav-minimized {
		margin-left: -20%;
	}
}

@media (min-width: 992px) {
	#container-sidenav {
    	width: 16.66%; 
	}
	#container-main {
		margin-left: calc(16.66% - 15px);
    	transition: margin-left .5s;
	}
	.container-sidenav-minimized {
		margin-left: -16.66%;
	}
}

/*  -------------------- END NAVBAR STYLES  ------------------------------ */

/*  -------------------- START FOOTER STYLES  ------------------------------ */


.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 150px;
  background-color: #464241;
  color: #fff;
}


/*  -------------------- END FOOTER STYLES  ------------------------------ */