@import url('https://fonts.googleapis.com/css?family=Nunito:700');
::selection{
	color: #fff;
	background-color:#fdb92e;
}
html{
	position: relative;
	min-height: 100%;
	overflow-x: hidden !important;
}
body {
	overflow-x: hidden !important; 
	background: #f1f1f1;
	font-family: 'Nunito', sans-serif;
	font-style: bold;
	color: #284358;
}
body > nav.header-nav + div{
	position:inherit !important;
}

/*******************************ALLY*************************************/
input[type=text], input[type=password]{ /***************login*********************/
    width: 240px;
    padding: 5px 10px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}
input[type=mobile] {
	width: 300px;
    padding: 5px 10px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
	
}
input[type=message] {
    width: 100%;
    height: 200px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}
.home{
	height: 100%;
	background: #fff;

}
.login{
	background: url(../images/bg_left.jpg);
	color: #fff;
	height: 700px;
}
.login-input{
	margin-top: 230px;	
}
.bg{
	background: url(../images/bg_right.jpg) no-repeat;
	height: 700px;
	background-size: cover;	
}
.bg img{
	margin-top: 280px;
}
.blue-line{
	width: 100%;
	height: 20px;
	background: #193660;
	margin-top: 300px;
}
.logout{
	
}

.count-box{ /****************count-box section (stat box)*********************/
	width: 90%;
	height: auto;
	background: #fff;
	margin-top: 30px;
	box-shadow: 1px 1px #fff;
	padding-top: 20px;
	padding-bottom: 30px;
	-webkit-box-shadow: 0px 0px 45px -18px rgba(0,0,0,0.75);
	-moz-box-shadow: 0px 0px 45px -18px rgba(0,0,0,0.75);
	box-shadow: 0px 0px 45px -18px rgba(0,0,0,0.75);
	padding-left: 30px;
	padding-right: 30px;
}
.database{
	background: #bcdd6a;
	height: auto;
	padding-top: 30px;
	color: #fff;
	padding-bottom: 60px;	
}
.database h1{
	margin-top: 30px;
}
.sms{
	background: #fac172;
	height: auto;
	padding-top:30px;
	padding-bottom: 40px;
	color: #fff;
}
.sms h1{
	margin-top: 20px;
}
.queued{
	background: #a1b1ed;
	height: auto;
	padding-top:30px;
	padding-bottom: 60px;
	color: #fff;
}
.queued h1{
	margin-top: 30px;
}
.filter{
	width: 90%;
	background: #fff;
	margin-top: 30px;
	text-align: left;
	padding: 20px;
	-webkit-box-shadow: 0px 0px 45px -18px rgba(0,0,0,0.75);
	-moz-box-shadow: 0px 0px 45px -18px rgba(0,0,0,0.75);
	box-shadow: 0px 0px 45px -18px rgba(0,0,0,0.75);
}
.message-option{
	width: 90%;
	padding: 20px;
	background: #fff;
	margin-top: 30px;
	text-align: left;
	-webkit-box-shadow: 0px 0px 45px -18px rgba(0,0,0,0.75);
	-moz-box-shadow: 0px 0px 45px -18px rgba(0,0,0,0.75);
	box-shadow: 0px 0px 45px -18px rgba(0,0,0,0.75);
}
.received-messages{
	width: 90%;
	background: #fff;
	margin-top: 30px;
	text-align: left;
	padding-top: 20px;
	padding-bottom: 20px;
	-webkit-box-shadow: 0px 0px 45px -18px rgba(0,0,0,0.75);
	-moz-box-shadow: 0px 0px 45px -18px rgba(0,0,0,0.75);
	box-shadow: 0px 0px 45px -18px rgba(0,0,0,0.75);
}

.recipient{/***************recipient section*********************/
	width: 90%;
	background: #fff;
	margin-top: 30px;
	text-align: center;
	padding-top: 20px;
	padding-bottom: 10px;
	-webkit-box-shadow: 0px 0px 45px -18px rgba(0,0,0,0.75);
	-moz-box-shadow: 0px 0px 45px -18px rgba(0,0,0,0.75);
	box-shadow: 0px 0px 45px -18px rgba(0,0,0,0.75);
}
.dropdown{
	text-align: left;
	
}
.btn{
	border-radius: none;
	border: 1px solid #c0c0c0;
}
.dropdown .btn-primary{
	background: #fff;
	color: #284356;
	border-radius: none;
	border: 1px solid #c0c0c0;
}
button {
    background-color: #074b93;
    color: #fff;
    padding: 5px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 220px;
}
button[type=submit]{
	width: 120px;
	
}
button[type=submit]:hover{
	background: #2f7fd4;
	color: #fff;
	
}
button[type=reset], button[type=filter] {
    background-color: #074b93;
    color: #fff;
    padding: 5px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 120px;
}
button[type=reset]:hover, button[type=filter]:hover {
    background-color: #2f7fd4;
    color: #fff;
    padding: 5px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 120px;
}
.user{ /************************USER IN SIDEBAR************************/
	width: 100%;
	height: 100px;
	background: ;
	color: white;
	padding-top: 20px;
}
.user p{
	line-height: 1;
	margin-top: 20px;
}
.user img{
	margin-left: 10px;
}
.minified .user{
	height: 60px;
	margin-left: 0;
}
.minified .user img{
	width: 33px;
	height: auto;
	margin-left: 0;
}
.minified p{
	display: none;
}
.minified .logo img{
	width: 35px;
	height: auto;
}
 /**********************************************************/
.box{
	background: #fff;
	width: 700px;
	height: 300px;
	position: center;
}
/* BLOCK */
.blockUI{
	border:0px !important;
	cursor: default !important;
}
#blockMessage .spinner > div{
	background-color:#3498db !important;
}
#blockMessage p{
	text-transform: uppercase;
	color:#004a84;
	font-weight:700;
	font-size:13px;
}

/* LOADING */
.spinner {
	margin: 20px auto 0;
	width: 70px;
	text-align: center;
  }
  
  .spinner > div {
	width: 18px;
	height: 18px;
	background-color: #333;
  
	border-radius: 100%;
	display: inline-block;
	-webkit-animation: sk-bouncedelay 1.4s infinite ease-in-out both;
	animation: sk-bouncedelay 1.4s infinite ease-in-out both;
  }
  
  .spinner .bounce1 {
	-webkit-animation-delay: -0.32s;
	animation-delay: -0.32s;
  }
  
  .spinner .bounce2 {
	-webkit-animation-delay: -0.16s;
	animation-delay: -0.16s;
  }
  
  @-webkit-keyframes sk-bouncedelay {
	0%, 80%, 100% { -webkit-transform: scale(0) }
	40% { -webkit-transform: scale(1.0) }
  }
  
  @keyframes sk-bouncedelay {
	0%, 80%, 100% { 
	  -webkit-transform: scale(0);
	  transform: scale(0);
	} 40% { 
	  -webkit-transform: scale(1.0);
	  transform: scale(1.0);
	}
  }
/* END OF LOADING */
.modal-header{
	padding:6px 10px;
}
.modal-title{
	font-size:16px;
}
.header-nav.navbar{
	padding:0px;
	background-color:#e3e3e3;
	position:relative;
	z-index:2;
}
.header-nav > .navbar-brand{
	font-family:'Arial';
  font-style: italic;
  font-size:52px;
  display:block;
  text-align:center;
  color:#fff;
  font-weight: 900;
  text-shadow: 2px 4px 20px rgba(0,0,0,0.2);
	margin:0px;
	padding:0px 55px 0px 20px;
	line-height:70px;
	background-color:#49a3df;
}
/* .header-nav > .navbar-brand{
	width:250px;
} */
.minified .header-nav > .navbar-brand{
	width:inherit;
}
.header-nav > .navbar-brand.fixed-width{
	width:250px;
}
.header-navbar.navbar-nav{
	margin-top:18px;
}

aside {
	display: block;
	overflow: hidden;
	background: #074b94;
	min-height: 100%;
  }
aside {
  width: 250px;
}
nav.left-aside{
	padding:0px 10px;
}
nav.left-aside ul ul{
	display:none;
}
nav.left-aside ul li a {
    line-height: normal;
    font-size: 14px;
    padding: 10px 10px 10px 11px;
    color: #a8a8a8;
    display: block;
    font-weight: 400;
    text-decoration: none!important;
    position: relative;
}
nav.left-aside ul li img{
	margin-right:6px;
}

 .fixed-navigation #left-panel {
	position: fixed;
	z-index: 998;
  }
  /* All levels */
  nav.left-aside ul li a:active {
	background: #074b94 !important;
  }
  /* All levels */
  nav.left-aside ul {
	width: 100%;
	padding: 40px 28px 25px 0;
	padding: 0;
	margin: 0;
	font-size: 13px;
	line-height: 0.5em;
	list-style: none;
	position: relative;
  }
  /* All levels */
  nav.left-aside > ul > li.active > a {
	color: #0664a2 !important;
	position: relative;
	background-color: #f6f6f6;
	border:1px solid #b7b5b5;
  }
  
  /* All levels */
  nav.left-aside ul li {
	overflow: hidden;
	border-bottom:1px solid #ededed;
  }
  nav.left-aside ul li.active {
	overflow: hidden;
	border-bottom:0px;
  }
  nav.left-aside ul li.active.open a {
	border-bottom:1px solid #ededed;
  }
  nav.left-aside ul li.active.open ul > li.active a{
	color:#1a91e0 ;
  }
  .minified nav.left-aside ul li.active.open a {
	border-bottom:1px solid #b7b5b5;
  }
  .minified nav.left-aside ul li.active.open ul {
	border:1px solid #b7b5b5;
	border-top:1px solid #b7b5b5;
  }
  nav.left-aside ul li.active.open ul {
	border:1px solid #b7b5b5;
	border-top:0px;
  }
  /* All levels */
  nav.left-aside ul li a {
	font-family:'Montserrat';
	font-weight:500 !important;
	line-height: normal;
	font-size: 12px;
	text-transform: uppercase;
	padding:8px 5px 8px 5px;
	color: #fff;
	display: block;
	font-weight: normal;
	text-decoration: none !important;
	position: relative;
	transition:linear all 0.3s;
  }
  /* Second level */
  nav.left-aside > ul > li > ul > li > a {
	padding-top: 8px;
	padding-bottom: 8px;
  }
  /* All levels */
  nav.left-aside ul li a:focus {
	color: #0664a2;
  }
  /* All levels */
  nav.left-aside ul li a:hover {
	color: #0664a2;
	text-decoration: none;
  }
  /* All levels */
  nav.left-aside ul b {
	float: right;
	font-size: 14px;
	margin-top: -1px;
  }
  /* All levels */
  nav.left-aside ul span.menu-item-parent {
	display: inline-block;
	margin: 0;
	padding: 0;
	bottom: -2px;
    position: relative;
  }
  /* First level: A, Second level: LI Open */
  nav.left-aside ul li.open > a,
  nav.left-aside ul li.open > a b {
	color: #0664a2 !important;
  }
  /* Second level switched to relative */
  nav.left-aside ul li li {
	position: relative;
  }
  nav.left-aside ul li li:last-child {
	border-bottom:0px;
  }
  
  /* Second level and onwards > */
  nav.left-aside > ul ul li a i {
	font-size: 6px !important;
    width: 24px !important;
    text-align: center !important;
    position: relative;
    top: -3px;
  }

  /* Second Level: UL */
  nav.left-aside ul ul {
	margin: 0;
	padding: 0;
	display: none;
	background: #f6f6f6;
  }
  nav.left-aside ul ul {
	padding: 0;
  }
  
  /* Second Level: A */
  nav.left-aside ul ul li > a {
	padding-left: 8px;
	font-size: 12px;
	font-weight: normal;
	outline: 0;
  }
  /* Second Level: A:hover */
  nav.left-aside ul ul li > a:hover {
	color: #004a84;
  }
  
  /* Second level: B */
  nav.left-aside ul ul b {
	color: #B3B3B3;
  }
  /* Second level: LI:hover B */
  nav.left-aside ul ul > li:hover b {
	color: #D5D9E2;
  }
/*
 * LEFT PANEL
 */
 #left-panel {
	position: absolute !important;
	/* float:left; */
	top: 0px;
	left: 0px;
	z-index: 1;
  }
  #main {
	display: block;
	margin-left: 250px;
	padding: 0;
	min-height: 500px;
  }
  #main footer{
	  padding-left:15px;
  }
  /*
 * MINIFIED MENU
 */
  .minifyme {
	background: #;
	color: #fff;
	text-align: right;
	padding: 0;
	width: 100%;
	display: block;
	position: relative;
	right: 10px;
	cursor: pointer;
	font-size: 25px;
	height: 34px;
	transition: all 0.1s linear 0s;
  }
  .minifyme:hover {
	background: #;
	color: #fff;
	right: 12px;
  }
  .minified .minifyme {
	right: 17px;
	color: #A8A8A8;
	position: relative;
	width: 100%;
	border-radius: 0px;
	margin: 0;
	height: 34px;
	transition:linear 0.3s all;
  }
  .minified .minifyme .fal{
	  transform:rotate(180deg);
	  transition:linear 0.3s all;
  }
  .minified #left-panel {
	width: 50px;
  }
  .minified #main {
	margin-left: 50px;
  }
  /*
   * Minified NAV
   */
  .minified #left-panel,
  .minified nav.left-aside > ul > li {
	overflow: visible;
  }
  .minified nav.left-aside > ul > ul {
	min-height: 100px !important;
	max-height: 180px !important;
	overflow-y: scroll;
	overflow-x: hidden;
	background: #ed1c24 !important;
  }
  .minified nav.left-aside > ul > li,
  .minified nav.left-aside > ul > li a {
	position: relative;
  }
  .minified nav.left-aside ul > li > a {
	padding: 8px 5px;
	display: block;
  }
  .minified nav.left-aside > ul > li > a .fa.fa-fw {
	display: block;
	width: auto;
	text-align: center;
	padding: 0;
  }
  .minified nav.left-aside > ul > li > a > i {
	text-align: center;
	margin: 0;
	display: block;
  }
  .minified nav.left-aside ul ul li a {
	padding-left: 14px;
  }
  .minified nav.left-aside ul ul li li a {
	padding-left: 25px;
  }
  .minified nav.left-aside > ul > li > a .menu-item-parent,
  .minified nav.left-aside > ul > li > a > b {
	display: none;
  }
  .minified nav.left-aside > ul > li > a > .menu-item-parent {
	display: none;
	position: absolute;
	left: 35px;
	top:-0.5px;
	width: 230px;
	line-height: 38px;
	background-color: #f6f6f6;
	color: #333333;
	z-index: 3;
	border: 1px solid #b7b5b5;
	padding-left: 12px;
  }
  .minified nav.left-aside > ul > li > ul {
	display: none !important;
	position: absolute;
	left: 35px;
	width: 230px;
	z-index: 5;
	border: 1px solid #b7b5b5;
	min-height: auto;
	background: #f6f6f6;
	margin-top: -3px;
  }
  .minified nav.left-aside ul > li > ul > li > ul {
	position: relative;
	left: 13px;
	border: none;
	width: auto;
	margin-left: -12px;
	width: 197px;
  }
  .minified nav.left-aside > ul > li:hover > a > .menu-item-parent,
  .minified nav.left-aside > ul > li:hover > ul {
	display: block !important;
  }
  .minified nav.left-aside > ul > li > ul > li {
	background-color: #f6f6f6;
  }
  .minified nav.left-aside > ul > li > ul > li > ul > li {
	background-color: #484B50;
  }
  .minified nav.left-aside > ul > li.active {
	border: 0px;
  }
/*
 * ANIMATION
 */
#left-panel,aside,
#content {
  -moz-transition: left 0.2s ease-out;
  -ms-transition: left 0.2s ease-out;
  -o-transition: left 0.2s ease-out;
  -webkit-transition: left 0.2s ease-out;
  transition: left 0.2s ease-out;
}
#main {
  -moz-transition: all 0.2s1s ease-out;
  -ms-transition: all 0.2s ease-out;
  -o-transition: all 0.2s ease-out;
  -webkit-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
}
.sub-header{
	min-width:100%;
	background-color:#e3e0e0;
	padding:10px 0px;
}
.sub-header ul{
	padding-left:0px;
	margin:0px;
}
.sub-header ul li{
	list-style: none;
	display:inline-block;
	border-right : 1px solid #ccc9c9;
}
/* .sub-header .row{
	min-width:100%;
} */

.sub-title{
	font-weight:600;
	font-size:13px;
	color:#363636;
	margin-bottom:0px;
	margin-top:1px;
	display:block;
	overflow:hidden;
	white-space:nowrap;
	text-overflow: ellipsis;
	width:100%;
}
.sub-title.name{
	font-size:14px;
	margin-top:0px;
}
.sub-desc{
	font-size:12px;
	color:#707070;
	white-space:nowrap;
	overflow:hidden;
}

@media (min-width: 768px) and (max-width: 979px) {

	.minified #left-panel {
	  left: 0px;
	}
}
  @media (min-width: 768px) and (max-width: 880px) {
	.minified #left-panel {
	  left: 0px;
	}
}
  @media (max-width: 767px) {
	.minified #left-panel {
	  left: 0px;
	}
}
 @media only screen and (min-width: 320px) and (max-width: 479px) {
	.minified #left-panel {
	  left: 0px;
	}
}
  @media (min-width: 264px) {
	.dropdown .btn-primary {
	 	width: 160px;
	 	font-size: 13px;
	}
}
@media (min-width: 264px) {
	.login, .bg{
		height: 400px;
	}
	.login-input{
		margin-top: 100px;	
	}
	.bg img{
		margin-top: 150px;
	}
}
@media (min-width: 994px) {
	.login, .bg{
		height: 700px;
	}
	.login-input{
		margin-top: 220px;	
	}
	.bg img{
		margin-top: 270px;
	}
}
/* -------- */



